.footer-top {
    padding: 20px 0;
    border-top: 1px solid #313131;
    border-bottom: 1px solid #313131;
    background-color: #212122;
    display: flex;
    justify-content: center;
}

.footer-top-main {
    width: 1400px;
    display: flex;
    justify-content: space-between !important;
}

.footer-top-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.browsers {
    display: flex;
    align-items: center;
    gap: 5px;
}

.browsers span {
    font-size: 22px;
    color: #4d4d4d;
}

.browsers svg {
    width: 27px;
    height: 27px;
}

.opera-svg {
    fill: #be2226e6;
}

.ie-svg {
    fill: #23a095e6;
}

.firefox-svg {
    fill: $main_color_1;
}

.safari-svg {
    fill: #636363;
}

.chrome-svg {
    fill: #78a22ee6;
}

.footer-top-right p {
    color: #5e5e5e;
    font-size: 21px;
    font-weight: 500;
    margin: 0;
}

.footer-middle-contain {
    background-color: #272627;
}

.content {
    display: flex;
    align-items: center;
    padding: 30px 0;
}

.middle-left,
.middle-right {
    width: calc(100% / 2);
}

.middle-right {
    display: flex;
}

.row-one,
.row-two {
    width: 100%;
}

.middle-right-side-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link-box {
    display: flex;
    gap: 50px;
}

.box-link-item {
    transition: 0.4s;
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #575757;
    font-size: 20px;
    font-weight: 500;
}

.title-link {
    transition: 0.4s;
    text-decoration: none;
    color: #8b8b8b;
    font-size: 26px;
}

.box-link-item:hover,
.title-link:hover {
    transition: 0.4s;
    text-decoration: underline;
    color: #8b8b8b !important;
}

.payment {
    border: 1px solid #454545;
    background: rgba(255, 255, 255, 0.02);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.box {
    display: flex;
    flex-wrap: wrap;
}

.payment,
.social {
    width: calc(100% / 2);
}

.payment img {
    width: 100%;
}

.row-one,
.row-two {
    display: flex;
    justify-content: center
}

.footer-social-medias {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px 0 5px;
    border-radius: 100px;
    position: relative;
    border: 1px solid #4f4f4f;
}

.social-holder svg {
    width: 32px;
    height: 32px;
    position: relative;
    top: -1px;
    fill: #4f4f4f;
}

.facebook:hover {
    background: #5391B2;
    border: 2px solid #5391B2;
}

.twitter:hover {
    background: #2D9DA9;
    border: 2px solid #2D9DA9;
}

.youtube:hover {
    background: #B72922;
    border: 2px solid #B72922;
}

.shopper svg {
    left: 2px;
}

.shopper:hover {
    background: #FFAB2B;
    border: 2px solid #FFAB2B;
}

.linkedin:hover {
    background: #3C6C86;
    border: 2px solid #3C6C86;
}

.gdpr {
    text-align: center;
    margin-top: 20px;
}

.gdpr a {
    position: relative;
    text-decoration: none;
    margin: 15px 20px 0 20px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #696969;
    border-radius: 100px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #454545;
    font-size: 18px;
    padding: 12px 40px;
}

.gdpr svg {
    left: 7px;
    top: -4px;
    fill: rgba(120, 162, 46, 0.8);
    width: 31px;
    height: 31px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    position: relative;
    top: 8px;
}

.gdpr span {
    position: relative;
    display: inline-block;
    padding: 0 0 0 10px
}

.gdpr a:hover {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border: 1px solid #78a22e;
    background: #78a22e;
    color: #1c1c1c
}

.gdpr a:hover svg {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    fill: #1c1c1c
}

.footer-bottom {
    border-top: 1px solid #313131;
    border-bottom: 1px solid #313131;
    background-color: #212122;
    padding: 20px 0;
}

.footer-bottom p {
    color: #525252;
    font-size: 18px;
    font-weight: 500;
}