.holder-promos {
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid #4d4d4d;
    display: flex;
    gap: 30px;
    align-items: center;
    box-shadow: inset 0 0 15px #242424;
    padding: 30px;
}

.promos h3 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.promos span b {
    font-size: 25px;
    font-weight: 600;
}

.promos span p {
    font-size: 18px;
    font-weight: 100;
    color: #bfbfbf;
}

.promo1 h3 {
    color: #bfbfbf;
}

.promo2 h3 {
    color: $main_color_1;
}

.promo3 h3 {
    color: #78a22e;
}

.promo4 h3 {
    color: #23a095;
}

.promos-text {
    font-size: 20px;
    color: #8c8c8c;
    text-align: start;
    margin-top: 20px;
}

.promos-text a:hover {
    text-decoration: none;
}

.promo1-text a {
    color: #8c8c8c;
}   

.promo2-text a {
    color:$main_color_1;
}

.promo3-text a {
    color: #78a22e;
}

.promo4-text a {
    color: #23a095;
}

.timer-svg {
    width: 60px;
    height: 60px;
    fill: #8c8c8c
}

.target-svg {
    width: 65px;
    height: 65px;
    fill: $main_color_1;
}

.shield-svg {
    width: 65px;
    height: 65px;
    fill: #78a22e;
}

.money-back-svg {
    width: 60px;
    height: 60px;
    fill: #23a095;
}

.holder-extra {
    padding: 30px 0 45px;
    display: flex;
    color: #9e9e9e;
}

.holder-extra .left,
.right {
    width: calc(100% / 2);
}

.left {
    display: flex;
    justify-content: center;
    align-items: center
}

.right {
    display: flex;
    justify-content: space-around;
    align-items: center
}

.holder-extra .left a {
    text-decoration: underline;
}

.holder-extra p {
    font-size: 20px;
}

.holder-extra a:hover {
    text-decoration: none;
}

.holder-text h3 {
    font-size: 30px;
}

.holder-text h3 b {
    color: #23a095;
}

.holder-text p {
    margin-top: 15px;
    font-size: 20px;
    line-height: 30px;
    word-spacing: 2px;
}

.holder-text p a {
    color: #9e9e9e;
}


.holder-logo {
    flex-direction: column;
    display: flex;
    padding: 0 30px 0 40px;
}

.holder-logo a {
    text-align: center;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.holder-logo svg {
    width: 190px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    fill: #23a095;
    color: #28b5a8;
}

.holder-logo a:hover svg {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    fill: #3bd4c7;
    color: #3bd4c7;
}

.holder-logo span {
    display: block;
    padding: 7px 15px;
    border-radius: 100px;
    white-space: nowrap;
    margin: 10px 0 0 0;
    background: rgba(255, 255, 255, 0.05);
    font-size: 18px;
    color: #8c8c8c;
    text-align: center;
}

.block-one p {
    text-align: center;
    font-size: 44px;
    color: #78a22e;
    padding: 5px 10px;
    font-weight: bold;
    margin-bottom: 20px;
}

.block-one a {
    border: 1px solid #78a22e;
    color: #78a22e;
    font-size: 19px;
    padding: 7px 15px;
    border-radius: 100px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-decoration: none;
}

.block-one a:hover {
    background: #78a22e;
    color: #1c1c1c;
}

.block-one,
.block-two {
    width: 100%;
    padding: 30px;
    text-align: center;
}

.block-one {
    border-left: 1px dashed #454545;
    border-right: 1px dashed #454545;
}

.block-two div {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 100px;
    text-align: center;
    padding: 10px 15px;
    margin-top: 10px;
    border: 1px solid #454545;
}

.block-two div .num {
    font-size: 30px;
    color: #adadad;
}

.block-two div .txt {
    font-size: 20px;
    color: #757575;
}

.footer-top {
    padding: 20px 0;
    border-top: 1px solid #313131;
    border-bottom: 1px solid #313131;
    background-color: #212122;
    display: flex;
    justify-content: center;
}

.footer-top-main {
    width: 1400px;
    display: flex;
    justify-content: space-between !important;
}

.footer-top-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.browsers {
    display: flex;
    align-items: center;
    gap: 5px;
}

.browsers span {
    font-size: 22px;
    color: #4d4d4d;
}

.browsers svg {
    width: 27px;
    height: 27px;
}

.opera-svg {
    fill: #be2226e6;
}

.ie-svg {
    fill: #23a095e6;
}

.firefox-svg {
    fill: $main_color_1;
}

.safari-svg {
    fill: #636363;
}

.chrome-svg {
    fill: #78a22ee6;
}

.footer-top-right p {
    color: #5e5e5e;
    font-size: 21px;
    font-weight: 500;
    margin: 0;
}

.footer-middle-contain {
    background-color: #272627;
}

.content {
    display: flex;
    padding: 30px 0;
    align-items: center;
    justify-content: space-between;
}

.middle-left,
.middle-right {
    width: calc(100% / 2);
}

.row-one,
.row-two {
    width: 100%;
}

.middle-right-side-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link-box {
    display: flex;
    gap: 50px;
}

.box-link-item {
    transition: 0.4s;
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #575757;
    font-size: 20px;
    font-weight: 500;
}

.title-link {
    transition: 0.4s;
    text-decoration: none;
    color: #8b8b8b;
    font-size: 26px;
}

.box-link-item:hover,
.title-link:hover {
    transition: 0.4s;
    text-decoration: underline;
    color: #8b8b8b !important;
}

.payment {
    border: 1px solid #454545;
    background: rgba(255, 255, 255, 0.02);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.payment {
    width: 40%;
    margin: 10px 0;
    padding: 15px 10px;
}

.payment img {
    width: 100%;
}

.row-one,
.row-two {
    display: flex;
    justify-content: center
}

.footer-social-medias {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px 0 5px;
    border-radius: 100px;
    position: relative;
    border: 1px solid #4f4f4f;
}

.social-holder svg {
    width: 32px;
    height: 32px;
    position: relative;
    top: -1px;
    fill: #4f4f4f;
}

.facebook:hover {
    background: #5391B2;
    border: 2px solid #5391B2;
}

.twitter:hover {
    background: #2D9DA9;
    border: 2px solid #2D9DA9;
}

.youtube:hover {
    background: #B72922;
    border: 2px solid #B72922;
}

.shopper svg {
    left: 2px;
}

.shopper:hover {
    background: #FFAB2B;
    border: 2px solid #FFAB2B;
}

.linkedin:hover {
    background: #3C6C86;
    border: 2px solid #3C6C86;
}

.gdpr {
    text-align: center;
    margin-top: 20px;
}

.gdpr a {
    position: relative;
    text-decoration: none;
    margin: 15px 20px 0 20px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #696969;
    border-radius: 100px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #454545;
    font-size: 18px;
    padding: 12px 40px;
}

.gdpr svg {
    left: 7px;
    top: -4px;
    fill: rgba(120, 162, 46, 0.8);
    width: 31px;
    height: 31px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    position: relative;
    top: 8px;
}

.gdpr span {
    position: relative;
    display: inline-block;
    padding: 0 0 0 10px
}

.gdpr a:hover {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border: 1px solid #78a22e;
    background: #78a22e;
    color: #1c1c1c
}

.gdpr a:hover svg {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    fill: #1c1c1c
}

.footer-bottom {
    border-top: 1px solid #313131;
    border-bottom: 1px solid #313131;
    background-color: #212122;
    padding: 20px 0;
}

.footer-bottom p {
    color: #525252;
    font-size: 18px;
    font-weight: 500;
}