@media (max-width:970px) {
    .holder-promos {
        display: block;
    }

    .promo2,
    .promo3,
    .promo4 {
        margin-top: 15px;
    }

    .content {
        .middle-left,
        .middle-right {
            width: auto;
        }
    }

    .payment {
        width: 50%;
    }
}

@media (max-width:766px) {

    .promo2,
    .promo3,
    .promo4 {
        margin-top: 40px;
    }

    .holder-extra {
        display: block;
    }

    .left,
    .right {
        display: block;
        width: 100% !important;
        text-align: center;
    }

    .holder-logo {
        margin-bottom: 25px;
    }

    .block-one {
        border: none;
    }

    .footer-top-main {
        width: 100%;
        display: block;
    }

    .footer-top-left {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-top-right {
        border-top: 1px dashed #636363;
        margin-top: 15px;
        padding: 15px 0;
    }

    .footer-top-right p {
        text-align: center;
    }

    .title-link {
        display: inline-block;
        text-decoration: none;
        color: #575757;
        background: rgba(255, 255, 255, 0.03);
        border: 1px solid #525252;
        border-radius: 100px;
        padding: 8px 15px 8px 15px;
        margin: 0 0 5px 0;
    }

    .link-box li {
        padding: 10px 0;
    }

    .content {
        display: block;
        padding: 0 10px;
    }

    .middle-left,
    .middle-right {
        width: 100%;
    }

    .payment,
    .social {
        width: 60%;
    }

    .link-box {
        display: block;
        text-align: center;
        width: 100%;
    }

    .box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .payment,
    .social {
        margin-bottom: 20px;
    }

    .payment {
        display: flex !important;
        justify-content: center !important;
    }

    .payment img {
        width: 60%;
    }
}