$nav_backround_color:#3f3d40;
$nav_border_radius:50px;
$nav_responsive_border_radius:20px;
$nav_height:55px;
$navbar_nav_menu_line:rgba(83, 82, 82, 0.552);
$nav_menu_btn_hover_color:#2b2b2b;
$nav_responsive_backround: #3f403e;

$sect_one_backround: #161616;
$main_color_1:#dc8510;
$main_color_2:#5e5e5e;