@media (max-width:766px) {
    .wrapper {
        max-width: 766px;
        padding: 0 10px;
    }

    .nav {
        max-width: 766px;
        background: $nav_responsive_backround;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        padding: 10px 0;
        border-radius: $nav_responsive_border_radius;
    }

    .navigation-btn {
        display: block;
    }

    .nav-item {
        display: none;
    }

    .nav-item-responsive {
        display: block;
        width: 100%;
        margin: 20px 0;
    }

    .nav-item-li {
        background-color: #323332;
        border-radius: 10px;
        margin: 3px 0;
        padding: 10px;
    }

    .nav-item-li-last {
        border: none;
        background-color: #323332;
        border-radius: 10px;
        margin: 3px 0;
        padding: 10px;
    }

    .nav-item-li {
        border: none;
    }

    .main-sect-res {
        display: block;
    }

    .sect-res {
        position: static;
        width: 100%;
        padding: 5px;
        margin: 10px 0 0 0;
        display: block;
        text-align: center;
        background-color: transparent !important;
    }

    .sect-res li {
        width: 100% !important;
        transition: 0.4s;
        margin: 2px 0;
        border: none !important;
    }

    .img-text-icon {
        position: relative;
        top: 5px;
    }

    .text-box {
        align-items: center;
    }

    .text-box p {
        display: none;
    }

    .nav-item a {
        padding: 0;
    }

    .title {
        font-size: 15px !important;
    }

    .sect-two-item-btn {
        width: 100%;
    }

    .img-icon,
    .img-icon-support {
        width: 30px;
        height: 30px;
    }

    .img-text-icon {
        width: 25px !important;
        height: 25px !important;
        position: relative;
    }

    .img-text-icon svg {
        width: 25px !important;
        height: 25px !important;
        position: absolute;
        top: -5px;
        left: 0;
        right: 0;
    }

    .symbol-d,
    .symbol-s,
    .symbol-b,
    .symbol-w,
    .symbol-e,
    .symbol-a,
    .symbol-c,
    .symbol-v {
        top: 0px !important;
        left: 7px;
        font-size: 12px;
    }

    .symbol-d {
        left: 9px;
        top: 2px;
    }

    .symbol-e {
        top: 2px;
        left: 8px;
    }

    .symbol-a {
        top: 1px;
        left: 6px;
    }

    .symbol-s {
        left: 7.5px;
        top: 2px;
    }

    .symbol-v {
        left: 8.5px;
        top: 2px;
    }

    .symbol-b {
        top: 2px;
        left: 8px;
    }

    .symbol-w {
        top: 2px;
    }

    .symbol-c {
        top: 2px;
    }

    .nav-link-box,
    .sect-three-link {
        margin: 5px 0;
        border-radius: 5px;
        padding: 10px 5px !important;
        background: #2c2a2b;
    }

    .sect-two-item a {
        border-radius: 5px;
        padding: 5px;
        background-color: #2c2a2b;
    }

    .sect-two-item button {
        background-color: #2c2a2b;
    }
}