@media (max-width:766px) {
    .wrapper {
        max-width: 766px;
        padding: 0 10px;
    }

    .nav {
        max-width: 766px;
        background: $nav_responsive_backround;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        padding: 10px 0;
        border-radius: $nav_responsive_border_radius;
    }

    .navigation-btn {
        display: block;
    }

    .nav-item {
        display: none;
    }

    .nav-item-responsive {
        display: block;
        width: 100%;
        margin: 20px 0;
    }

    .nav-item-li {
        background-color: #323332;
        border-radius: 10px;
        margin: 3px 0;
        padding: 10px;
    }

    .nav-item-li-last {
        border: none;
        background-color: #323332;
        border-radius: 10px;
        margin: 3px 0;
        padding: 10px;
    }

    .nav-item-li {
        border: none;
    }

    .main-sect-res {
        display: block;
    }

    .sect-res {
        position: static;
        width: 100%;
        padding: 5px;
        margin: 10px 0 0 0;
        display: block;
        background: #2c2a2b;
        text-align: center;
    }

    .sect-res li {
        width: 100% !important;
        transition: 0.4s;
        margin: 2px 0;
        border: none !important;
    }
    
    .img-text-icon {
        position: relative;
        top: 5px;
    }

    .text-box {
        align-items: center;
    }

    .text-box p {
        display: none;
    }
    
    .nav-item a {
        padding: 0;
    }
    
    .title {
        font-size: 15px !important;
    }

    .sect-two-item-btn {
        width: 100%;
    }
}