.nav-main {
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $nav_backround_color;
    opacity: 1;
    border-radius: $nav_border_radius;
    height: $nav_height;
    width: 100%;
}

.nav-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 10;
}

.img-icon {
    width: 40px;
    height: 40px;
}

.img-icon-support {
    width: 55px;
    height: 55px;
}

.img-text-icon {
    width: 30px !important;
    height: 33px !important;
}

.nav-item-li {
    border-right: 1px solid white;
}

.nav-item-li-last:hover .nav-item-link {
    transition: 0.4s;
    color: $main_color_1;
}

.nav-item-li:hover .nav-item-link {
    transition: 0.4s;
    color: $main_color_1;
}

.nav-item a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: #c4c5c5;
    font-size: 19px;
    padding: 15px 17px;
}

.main-sect {
    display: none !important;
}

.sect-one {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    top: 38px;
    background: $sect_one_backround;
    border-radius: 10px;
}

.certificate-menu:hover .main-sect {
    display: block !important;
}

.sect-one li {
    width: calc(100% / 2);
    transition: 0.4s;
}

.sect-one li:nth-child(2),
.sect-one li:nth-child(4),
.sect-one li:nth-child(6) {
    border-bottom: 1px solid $navbar_nav_menu_line;
    border-left: 1px solid $navbar_nav_menu_line;
}

.sect-one li:nth-child(1),
.sect-one li:nth-child(3),
.sect-one li:nth-child(5) {
    border-bottom: 1px solid $navbar_nav_menu_line;
}

.sect-one li:nth-child(8) {
    border-left: 1px solid $navbar_nav_menu_line;
}

.sect-one li:hover {
    background-color: rgba(164, 164, 164, 0.195);
    transition: 0.4s ease-in-out;
}

.sect-one-1 {
    border-radius: 10px 0 0 0;
}

.sect-one-2 {
    border-radius: 0 10px 0 0;
}

.sect-one-3 {
    border-radius: 0 0 0 10px;
}

.sect-one-4 {
    border-radius: 0 0 10px 0;
}

.dv {
    padding: 15px;
    position: relative
}

.img-text-icon {
    position: relative;
    top: -12px;
}

.img-text-icon svg {
    width: 30px;
    height: 33px;
}

.nav-link-box {
    display: flex;
    gap: 10px;
    text-decoration: none;
    align-items: center;
}

.symbol-d {
    position: absolute;
    font-weight: bold;
    font-size: 16px;
    left: 9px;
    top: 6px;
    color: #25958b;
}

.symbol-s {
    position: absolute;
    font-weight: bold;
    font-size: 16px;
    left: 9px;
    top: 6px;
    color: #d2143ce6;
}

.symbol-b {
    position: absolute;
    font-weight: bold;
    font-size: 16px;
    left: 9px;
    top: 6px;
    color: $main_color_1;
}

.symbol-w {
    position: absolute;
    font-weight: bold;
    font-size: 16px;
    left: 7px;
    top: 7px;
    color: #9d7040e6;
}

.symbol-e {
    position: absolute;
    font-size: 17px;
    font-weight: bold;
    left: 9px;
    top: 6px;
    color: #78a22ee6;
}

.symbol-a {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    left: 6.5px;
    top: 5px;
    color: #c63200e6;
}

.symbol-c {
    position: absolute;
    font-size: 17px;
    font-weight: bold;
    left: 9px;
    top: 6px;
    color: rgb(140 140 140);
}

.symbol-v {
    position: absolute;
    font-size: 17px;
    font-weight: bold;
    left: 9px;
    top: 6px;
    color: #23a095e6;
}

.text-box span {
    font-size: 22px;
    color: #ffffff;
    font-weight: normal;
}

.text-box p {
    font-size: 18px;
    color: $main_color_2;
    padding: 4px 0 0 0;
    line-height: 135%;
    display: block;
}

.nav-item li {
    position: relative;
}

// ==============================================================================

.sect-two {
    position: absolute;
    width: 1190px;
    left: -210px;
    top: 39px;
    display: flex;
    justify-content: center !important;
    gap: 10px;
    background: $sect_one_backround;
    border-radius: 12px;
}

.sect-two div:nth-child(1),
.sect-two div:nth-child(2),
.sect-two div:nth-child(3),
.sect-two div:nth-child(4) {
    border-right: 1px dashed #2b2b2b;
}

.sect-two-item {
    padding: 15px;
}

.sect-two-item-btn {
    width: 150px;
    padding: 5px 25px;
    font-size: 22px;
    border-radius: 50px;
    background: transparent;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn-digicert {
    color: #1B75BC;
    border: 2px solid #0274c4;
}

.btn-digicert:hover {
    background: #0274c4;
    color: $nav_menu_btn_hover_color;
}

.btn-gogetssl {
    color: $main_color_1;
    border: 2px solid $main_color_1;
}

.btn-gogetssl:hover {
    background: $main_color_1;
    color: $nav_menu_btn_hover_color;
}

.btn-sectigo {
    color: #00b073;
    border: 2px solid #00b073;
}

.btn-sectigo:hover {
    background: #00b073;
    color: $nav_menu_btn_hover_color;
}

.btn-geotrust {
    color: #23a095e6;
    border: 2px solid #23a095e6;
}

.btn-geotrust:hover {
    background: #23a095e6;
    color: $nav_menu_btn_hover_color;
}

.btn-rapidssl {
    margin-top: 10px;
    color: #9d7040;
    border: 2px solid #9d7040;
}

.btn-rapidssl:hover {
    background: #9d7040;
    color: $nav_menu_btn_hover_color;
}

.btn-thawte {
    color: #d2143ce6;
    border: 2px solid #d2143ce6;
}

.btn-thawte:hover {
    background: #d2143ce6;
    color: $nav_menu_btn_hover_color;
}

.btn-target {
    width: 180px;
    border: 2px solid #323233;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 40px;
    transition: 0.4s;
}

.btn-target span {
    font-size: 17px;
    color: $main_color_1;
}

.btn-target:hover {
    transition: 0.4s;
    border: 2px solid $main_color_1;
}

.btn-compare {
    width: 180px;
    border: 2px solid #323233;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
    transition: 0.4s;
}

.btn-compare span {
    font-size: 19px;
    color: #78a22ee6;
}

.btn-compare:hover {
    transition: 0.4s;
    border: 2px solid #78a22ee6;
}

.sect-two-item a {
    display: block;
    color: #bfbfbf;
    margin: 5px 0;
    padding: 0;
    font-size: 17px;
}

.sect-two-item a:hover {
    color: $main_color_1;
    text-decoration: underline;
}

// ========================================================================================

.sect-three {
    position: absolute;
    width: 780px;
    top: 39px;
    left: -450px;
    display: flex;
    flex-wrap: wrap;
    background: $sect_one_backround;
    border-radius: 10px;
}

.sect-three li {
    width: calc(100% / 2);
    transition: 0.4s;
}

.sect-three-link {
    display: flex;
    align-items: middle;
    gap: 15px;
}

.sect-three li:nth-child(2),
.sect-three li:nth-child(4) {
    border-bottom: 1px solid $navbar_nav_menu_line;
    border-left: 1px solid $navbar_nav_menu_line;
}

.sect-three li:nth-child(1),
.sect-three li:nth-child(3) {
    border-bottom: 1px solid $navbar_nav_menu_line;
}

.sect-three li:nth-child(6) {
    border-left: 1px solid $navbar_nav_menu_line;
}

.sect-three li:hover {
    background-color: rgba(164, 164, 164, 0.195);
    transition: 0.4s ease-in-out;
}

.sect-three svg {
    width: 35px !important;
    height: 35px !important;
}

// ========================================================================================

.sect-four {
    position: absolute;
    width: 780px;
    top: 39px;
    left: -550px;
    display: flex;
    flex-wrap: wrap;
    background: $sect_one_backround;
    border-radius: 10px;
}

.sect-four li {
    width: calc(100% / 2);
    transition: 0.4s;
}

.sect-four-link {
    display: flex;
    align-items: middle;
    gap: 15px;
}

.sect-four li:nth-child(2),
.sect-four li:nth-child(4) {
    border-bottom: 1px solid $navbar_nav_menu_line;
    border-left: 1px solid $navbar_nav_menu_line;
}

.sect-four li:nth-child(1),
.sect-four li:nth-child(3) {
    border-bottom: 1px solid $navbar_nav_menu_line;
}

.sect-four li:nth-child(6) {
    border-left: 1px solid $navbar_nav_menu_line;
}

.sect-four li:hover {
    background-color: rgba(164, 164, 164, 0.195);
    transition: 0.4s ease-in-out;
}

.sect-four svg {
    width: 35px !important;
    height: 35px !important;
}

// ========================================================================================

.navigation-btn {
    display: none;
    position: relative;
    text-align: start;
    width: 150px;
    padding: 8px 8px 4px 8px;
    border-radius: 15px;
    border: 2px solid $main_color_2;
    background-color: #373737;
    cursor: pointer;
}

.activeNavBtn {
    .navigation-svg {
        fill: #c63200e6;
    }

    span {
        color: #c63200e6 !important;
    }
}

.navigation-svg {
    fill: $main_color_1;
}

.navigation-btn span {
    position: absolute;
    font-size: 18px;
    color: #9e9e9e;
    margin-left: 10px;
    top: 7px;
}