html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}

body {
  background-image: url("../../Images/bg-main.jpg");
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(28, 31, 26);
  border-radius: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}

* ul {
  list-style: none;
}

.gb-padding {
  padding: 0 15px;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  gap: 10px;
}

.nav-main {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3f3d40;
  opacity: 1;
  border-radius: 50px;
  height: 55px;
  width: 100%;
}

.nav-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 10;
}

.img-icon {
  width: 40px;
  height: 40px;
}

.img-icon-support {
  width: 55px;
  height: 55px;
}

.img-text-icon {
  width: 30px !important;
  height: 33px !important;
}

.nav-item-li {
  border-right: 1px solid white;
}

.nav-item-li-last:hover .nav-item-link {
  transition: 0.4s;
  color: #dc8510;
}

.nav-item-li:hover .nav-item-link {
  transition: 0.4s;
  color: #dc8510;
}

.nav-item a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #c4c5c5;
  font-size: 19px;
  padding: 15px 17px;
}

.main-sect {
  display: none !important;
}

.sect-one {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 680px;
  top: 38px;
  background: rgba(22, 22, 22, 0.9019607843);
  border-radius: 10px;
}

.certificate-menu:hover .main-sect {
  display: block !important;
}

.sect-one li {
  width: 50%;
  transition: 0.4s;
}

.sect-one li:nth-child(2),
.sect-one li:nth-child(4),
.sect-one li:nth-child(6) {
  border-bottom: 1px solid rgba(83, 82, 82, 0.552);
  border-left: 1px solid rgba(83, 82, 82, 0.552);
}

.sect-one li:nth-child(1),
.sect-one li:nth-child(3),
.sect-one li:nth-child(5) {
  border-bottom: 1px solid rgba(83, 82, 82, 0.552);
}

.sect-one li:nth-child(8) {
  border-left: 1px solid rgba(83, 82, 82, 0.552);
}

.sect-one li:hover {
  background-color: rgba(164, 164, 164, 0.195);
  transition: 0.4s ease-in-out;
}

.sect-one-1 {
  border-radius: 10px 0 0 0;
}

.sect-one-2 {
  border-radius: 0 10px 0 0;
}

.sect-one-3 {
  border-radius: 0 0 0 10px;
}

.sect-one-4 {
  border-radius: 0 0 10px 0;
}

.dv {
  padding: 15px;
  position: relative;
}

.img-text-icon {
  position: relative;
  top: -12px;
}

.img-text-icon svg {
  width: 30px;
  height: 33px;
}

.nav-link-box {
  display: flex;
  gap: 10px;
  text-decoration: none;
  align-items: center;
}

.symbol-d {
  position: absolute;
  font-weight: bold;
  font-size: 16px;
  left: 9px;
  top: 6px;
  color: #25958b;
}

.symbol-s {
  position: absolute;
  font-weight: bold;
  font-size: 16px;
  left: 9px;
  top: 6px;
  color: rgba(210, 20, 60, 0.9019607843);
}

.symbol-b {
  position: absolute;
  font-weight: bold;
  font-size: 16px;
  left: 9px;
  top: 6px;
  color: #dc8510;
}

.symbol-w {
  position: absolute;
  font-weight: bold;
  font-size: 16px;
  left: 7px;
  top: 7px;
  color: rgba(157, 112, 64, 0.9019607843);
}

.symbol-e {
  position: absolute;
  font-size: 17px;
  font-weight: bold;
  left: 9px;
  top: 6px;
  color: rgba(120, 162, 46, 0.9019607843);
}

.symbol-a {
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  left: 6.5px;
  top: 5px;
  color: rgba(198, 50, 0, 0.9019607843);
}

.symbol-c {
  position: absolute;
  font-size: 17px;
  font-weight: bold;
  left: 9px;
  top: 6px;
  color: rgb(140, 140, 140);
}

.symbol-v {
  position: absolute;
  font-size: 17px;
  font-weight: bold;
  left: 9px;
  top: 6px;
  color: rgba(35, 160, 149, 0.9019607843);
}

.text-box span {
  font-size: 22px;
  color: #ffffff;
  font-weight: normal;
}

.text-box p {
  font-size: 18px;
  color: #5e5e5e;
  padding: 4px 0 0 0;
  line-height: 135%;
  display: block;
}

.nav-item li {
  position: relative;
}

.sect-two {
  position: absolute;
  width: 1190px;
  left: -210px;
  top: 39px;
  display: flex;
  justify-content: center !important;
  gap: 10px;
  background: rgba(22, 22, 22, 0.9019607843);
  border-radius: 12px;
}

.sect-two div:nth-child(1),
.sect-two div:nth-child(2),
.sect-two div:nth-child(3),
.sect-two div:nth-child(4) {
  border-right: 1px dashed #2b2b2b;
}

.sect-two-item {
  padding: 15px;
}

.sect-two-item-btn {
  width: 150px;
  padding: 5px 25px;
  font-size: 22px;
  border-radius: 50px;
  background: transparent;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn-digicert {
  color: #1B75BC;
  border: 2px solid #0274c4;
}

.btn-digicert:hover {
  background: #0274c4;
  color: #2b2b2b;
}

.btn-gogetssl {
  color: #dc8510;
  border: 2px solid #dc8510;
}

.btn-gogetssl:hover {
  background: #dc8510;
  color: #2b2b2b;
}

.btn-sectigo {
  color: #00b073;
  border: 2px solid #00b073;
}

.btn-sectigo:hover {
  background: #00b073;
  color: #2b2b2b;
}

.btn-geotrust {
  color: rgba(35, 160, 149, 0.9019607843);
  border: 2px solid rgba(35, 160, 149, 0.9019607843);
}

.btn-geotrust:hover {
  background: rgba(35, 160, 149, 0.9019607843);
  color: #2b2b2b;
}

.btn-rapidssl {
  margin-top: 10px;
  color: #9d7040;
  border: 2px solid #9d7040;
}

.btn-rapidssl:hover {
  background: #9d7040;
  color: #2b2b2b;
}

.btn-thawte {
  color: rgba(210, 20, 60, 0.9019607843);
  border: 2px solid rgba(210, 20, 60, 0.9019607843);
}

.btn-thawte:hover {
  background: rgba(210, 20, 60, 0.9019607843);
  color: #2b2b2b;
}

.btn-target {
  width: 180px;
  border: 2px solid #323233;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 40px;
  transition: 0.4s;
}

.btn-target span {
  font-size: 17px;
  color: #dc8510;
}

.btn-target:hover {
  transition: 0.4s;
  border: 2px solid #dc8510;
}

.btn-compare {
  width: 180px;
  border: 2px solid #323233;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
  transition: 0.4s;
}

.btn-compare span {
  font-size: 19px;
  color: rgba(120, 162, 46, 0.9019607843);
}

.btn-compare:hover {
  transition: 0.4s;
  border: 2px solid rgba(120, 162, 46, 0.9019607843);
}

.sect-two-item a {
  display: block;
  color: #bfbfbf;
  margin: 5px 0;
  padding: 0;
  font-size: 17px;
}

.sect-two-item a:hover {
  color: #dc8510;
  text-decoration: underline;
}

.sect-three {
  position: absolute;
  width: 680px;
  top: 39px;
  left: -450px;
  display: flex;
  flex-wrap: wrap;
  background: rgba(22, 22, 22, 0.9019607843);
  border-radius: 10px;
}

.sect-three li {
  width: 50%;
  transition: 0.4s;
}

.sect-three-link {
  display: flex;
  align-items: middle;
  gap: 15px;
}

.sect-three li:nth-child(2),
.sect-three li:nth-child(4) {
  border-bottom: 1px solid rgba(83, 82, 82, 0.552);
  border-left: 1px solid rgba(83, 82, 82, 0.552);
}

.sect-three li:nth-child(1),
.sect-three li:nth-child(3) {
  border-bottom: 1px solid rgba(83, 82, 82, 0.552);
}

.sect-three li:nth-child(6) {
  border-left: 1px solid rgba(83, 82, 82, 0.552);
}

.sect-three li:hover {
  background-color: rgba(164, 164, 164, 0.195);
  transition: 0.4s ease-in-out;
}

.sect-four {
  position: absolute;
  width: 680px;
  top: 39px;
  left: -550px;
  display: flex;
  flex-wrap: wrap;
  background: rgba(22, 22, 22, 0.9019607843);
  border-radius: 10px;
}

.sect-four li {
  width: 50%;
  transition: 0.4s;
}

.sect-four-link {
  display: flex;
  align-items: middle;
  gap: 15px;
}

.sect-four li:nth-child(2),
.sect-four li:nth-child(4) {
  border-bottom: 1px solid rgba(83, 82, 82, 0.552);
  border-left: 1px solid rgba(83, 82, 82, 0.552);
}

.sect-four li:nth-child(1),
.sect-four li:nth-child(3) {
  border-bottom: 1px solid rgba(83, 82, 82, 0.552);
}

.sect-four li:nth-child(6) {
  border-left: 1px solid rgba(83, 82, 82, 0.552);
}

.sect-four li:hover {
  background-color: rgba(164, 164, 164, 0.195);
  transition: 0.4s ease-in-out;
}

.navigation-btn {
  display: none;
  position: relative;
  text-align: start;
  width: 150px;
  padding: 8px 8px 4px 8px;
  border-radius: 15px;
  border: 2px solid #5e5e5e;
  background-color: #373737;
  cursor: pointer;
}

.activeNavBtn .navigation-svg {
  fill: rgba(198, 50, 0, 0.9019607843);
}
.activeNavBtn span {
  color: rgba(198, 50, 0, 0.9019607843) !important;
}

.navigation-svg {
  fill: #dc8510;
}

.navigation-btn span {
  position: absolute;
  font-size: 18px;
  color: #9e9e9e;
  margin-left: 10px;
  top: 7px;
}

@media (max-width: 766px) {
  .wrapper {
    max-width: 766px;
    padding: 0 10px;
  }
  .nav {
    max-width: 766px;
    background: #3f403e;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 10px 0;
    border-radius: 20px;
  }
  .navigation-btn {
    display: block;
  }
  .nav-item {
    display: none;
  }
  .nav-item-responsive {
    display: block;
    width: 100%;
    margin: 20px 0;
  }
  .nav-item-li {
    background-color: #323332;
    border-radius: 10px;
    margin: 3px 0;
    padding: 10px;
  }
  .nav-item-li-last {
    border: none;
    background-color: #323332;
    border-radius: 10px;
    margin: 3px 0;
    padding: 10px;
  }
  .nav-item-li {
    border: none;
  }
  .main-sect-res {
    display: block;
  }
  .sect-res {
    position: static;
    width: 100%;
    padding: 5px;
    margin: 10px 0 0 0;
    display: block;
    text-align: center;
    background-color: transparent !important;
  }
  .sect-res li {
    width: 100% !important;
    transition: 0.4s;
    margin: 2px 0;
    border: none !important;
  }
  .img-text-icon {
    position: relative;
    top: 5px;
  }
  .text-box {
    align-items: center;
  }
  .text-box p {
    display: none;
  }
  .nav-item a {
    padding: 0;
  }
  .title {
    font-size: 15px !important;
  }
  .sect-two-item-btn {
    width: 100%;
  }
  .img-icon,
  .img-icon-support {
    width: 30px;
    height: 30px;
  }
  .img-text-icon {
    width: 25px !important;
    height: 25px !important;
    position: relative;
  }
  .img-text-icon svg {
    width: 25px !important;
    height: 25px !important;
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
  }
  .symbol-d,
  .symbol-s,
  .symbol-b,
  .symbol-w,
  .symbol-e,
  .symbol-a,
  .symbol-c,
  .symbol-v {
    top: 0px !important;
    left: 7px;
    font-size: 12px;
  }
  .symbol-d {
    left: 9px;
    top: 2px;
  }
  .symbol-e {
    top: 2px;
    left: 8px;
  }
  .symbol-a {
    top: 1px;
    left: 6px;
  }
  .symbol-s {
    left: 7.5px;
    top: 2px;
  }
  .symbol-v {
    left: 8.5px;
    top: 2px;
  }
  .symbol-b {
    top: 2px;
    left: 8px;
  }
  .symbol-w {
    top: 2px;
  }
  .symbol-c {
    top: 2px;
  }
  .nav-link-box,
  .sect-three-link {
    margin: 5px 0;
    border-radius: 5px;
    padding: 10px 5px !important;
    background: #2c2a2b;
  }
  .sect-two-item a {
    border-radius: 5px;
    padding: 5px;
    background-color: #2c2a2b;
  }
  .sect-two-item button {
    background-color: #2c2a2b;
  }
}
.header {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 20px;
}

.left-side div {
  border-left: 0.1px solid #5e5e5e;
  padding: 0 20px;
}

.left-side div b {
  color: white;
  font-size: 21px;
  font-weight: 100;
}

.left-side div span {
  color: #dc8510;
  font-weight: 400;
  font-size: 18px;
}

.left-side svg {
  width: 200px;
  height: 60px;
}

.right-side {
  background-color: #3d3d3d;
  border-radius: 50px;
  padding: 10px 12px;
}

.right-side-link {
  margin: 0 10px;
  color: #8c8c8c;
  text-decoration: none;
}

.right-side-link span {
  position: relative;
  top: -5px;
  margin-left: 5px;
  padding-right: 10px;
}

.right-side-link-d-none {
  display: none;
}

.right-side-link-span {
  border-right: 1px solid #575757;
  font-weight: bold;
}

.right-side-link-last-span {
  font-weight: bold;
}

.right-side-link:hover svg {
  transition: 0.4s;
  fill: #ccc;
}

.right-side-link:hover span {
  transition: 0.4s;
  color: #ccc;
}

.right-side-svg {
  width: 25px;
  height: 25px;
  fill: #8c8c8c;
}

@media (max-width: 766px) {
  .header {
    padding: 30px 10px;
    display: block;
  }
  .left-side {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .left-side div {
    text-align: center;
    width: 100%;
    border: none;
    border-top: 0.1px dashed #5e5e5e;
    padding: 15px 0;
  }
  .right-side {
    background-color: transparent;
    display: flex;
  }
  .right-side-link {
    border: 1px solid #525252;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .right-side-link span {
    margin-top: 10px;
  }
  .right-side-link-span {
    display: none;
  }
  .right-side-link-d-none {
    display: block;
  }
  .right-side-link span {
    border: none;
  }
}
.holder-promos {
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid #4d4d4d;
  display: flex;
  gap: 30px;
  align-items: center;
  box-shadow: inset 0 0 15px #242424;
  padding: 30px;
}

.promos h3 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.promos span b {
  font-size: 25px;
  font-weight: 600;
}

.promos span p {
  font-size: 18px;
  font-weight: 100;
  color: #bfbfbf;
}

.promo1 h3 {
  color: #bfbfbf;
}

.promo2 h3 {
  color: #dc8510;
}

.promo3 h3 {
  color: #78a22e;
}

.promo4 h3 {
  color: #23a095;
}

.promos-text {
  font-size: 20px;
  color: #8c8c8c;
  text-align: start;
  margin-top: 20px;
}

.promos-text a:hover {
  text-decoration: none;
}

.promo1-text a {
  color: #8c8c8c;
}

.promo2-text a {
  color: #dc8510;
}

.promo3-text a {
  color: #78a22e;
}

.promo4-text a {
  color: #23a095;
}

.timer-svg {
  width: 60px;
  height: 60px;
  fill: #8c8c8c;
}

.target-svg {
  width: 65px;
  height: 65px;
  fill: #dc8510;
}

.shield-svg {
  width: 65px;
  height: 65px;
  fill: #78a22e;
}

.money-back-svg {
  width: 60px;
  height: 60px;
  fill: #23a095;
}

.holder-extra {
  padding: 30px 0 45px;
  display: flex;
  color: #9e9e9e;
}

.holder-extra .left,
.right {
  width: 50%;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.holder-extra .left a {
  text-decoration: underline;
}

.holder-extra p {
  font-size: 20px;
}

.holder-extra a:hover {
  text-decoration: none;
}

.holder-text h3 {
  font-size: 30px;
}

.holder-text h3 b {
  color: #23a095;
}

.holder-text p {
  margin-top: 15px;
  font-size: 20px;
  line-height: 30px;
  word-spacing: 2px;
}

.holder-text p a {
  color: #9e9e9e;
}

.holder-logo {
  flex-direction: column;
  display: flex;
  padding: 0 30px 0 40px;
}

.holder-logo a {
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.holder-logo svg {
  width: 190px;
  transition: all 0.2s ease-in-out;
  fill: #23a095;
  color: #28b5a8;
}

.holder-logo a:hover svg {
  transition: all 0.2s ease-in-out;
  fill: #3bd4c7;
  color: #3bd4c7;
}

.holder-logo span {
  display: block;
  padding: 7px 15px;
  border-radius: 100px;
  white-space: nowrap;
  margin: 10px 0 0 0;
  background: rgba(255, 255, 255, 0.05);
  font-size: 18px;
  color: #8c8c8c;
  text-align: center;
}

.block-one p {
  text-align: center;
  font-size: 44px;
  color: #78a22e;
  padding: 5px 10px;
  font-weight: bold;
  margin-bottom: 20px;
}

.block-one a {
  border: 1px solid #78a22e;
  color: #78a22e;
  font-size: 19px;
  padding: 7px 15px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.block-one a:hover {
  background: #78a22e;
  color: #1c1c1c;
}

.block-one,
.block-two {
  width: 100%;
  padding: 30px;
  text-align: center;
}

.block-one {
  border-left: 1px dashed #454545;
  border-right: 1px dashed #454545;
}

.block-two div {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 100px;
  text-align: center;
  padding: 10px 15px;
  margin-top: 10px;
  border: 1px solid #454545;
}

.block-two div .num {
  font-size: 30px;
  color: #adadad;
}

.block-two div .txt {
  font-size: 20px;
  color: #757575;
}

.footer-top {
  padding: 20px 0;
  border-top: 1px solid #313131;
  border-bottom: 1px solid #313131;
  background-color: #212122;
  display: flex;
  justify-content: center;
}

.footer-top-main {
  width: 1400px;
  display: flex;
  justify-content: space-between !important;
}

.footer-top-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.browsers {
  display: flex;
  align-items: center;
  gap: 5px;
}

.browsers span {
  font-size: 22px;
  color: #4d4d4d;
}

.browsers svg {
  width: 27px;
  height: 27px;
}

.opera-svg {
  fill: rgba(190, 34, 38, 0.9019607843);
}

.ie-svg {
  fill: rgba(35, 160, 149, 0.9019607843);
}

.firefox-svg {
  fill: #dc8510;
}

.safari-svg {
  fill: #636363;
}

.chrome-svg {
  fill: rgba(120, 162, 46, 0.9019607843);
}

.footer-top-right p {
  color: #5e5e5e;
  font-size: 21px;
  font-weight: 500;
  margin: 0;
}

.footer-middle-contain {
  background-color: #272627;
}

.content {
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.middle-left,
.middle-right {
  width: 50%;
}

.middle-right {
  display: flex;
}

.row-one,
.row-two {
  width: 100%;
}

.middle-right-side-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link-box {
  display: flex;
  gap: 50px;
}

.box-link-item {
  transition: 0.4s;
  display: block;
  margin: 10px 0;
  text-decoration: none;
  color: #575757;
  font-size: 20px;
  font-weight: 500;
}

.title-link {
  transition: 0.4s;
  text-decoration: none;
  color: #8b8b8b;
  font-size: 26px;
}

.box-link-item:hover,
.title-link:hover {
  transition: 0.4s;
  text-decoration: underline;
  color: #8b8b8b !important;
}

.payment {
  border: 1px solid #454545;
  background: rgba(255, 255, 255, 0.02);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.payment,
.social {
  width: 50%;
}

.payment img {
  width: 100%;
}

.row-one,
.row-two {
  display: flex;
  justify-content: center;
}

.footer-social-medias {
  transition: all 0.2s ease-in-out;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px 0 5px;
  border-radius: 100px;
  position: relative;
  border: 1px solid #4f4f4f;
}

.social-holder svg {
  width: 32px;
  height: 32px;
  position: relative;
  top: -1px;
  fill: #4f4f4f;
}

.facebook:hover {
  background: #5391B2;
  border: 2px solid #5391B2;
}

.twitter:hover {
  background: #2D9DA9;
  border: 2px solid #2D9DA9;
}

.youtube:hover {
  background: #B72922;
  border: 2px solid #B72922;
}

.shopper svg {
  left: 2px;
}

.shopper:hover {
  background: #FFAB2B;
  border: 2px solid #FFAB2B;
}

.linkedin:hover {
  background: #3C6C86;
  border: 2px solid #3C6C86;
}

.gdpr {
  text-align: center;
  margin-top: 20px;
}

.gdpr a {
  position: relative;
  text-decoration: none;
  margin: 15px 20px 0 20px;
  transition: all 0.2s ease-in-out;
  color: #696969;
  border-radius: 100px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #454545;
  font-size: 18px;
  padding: 12px 40px;
}

.gdpr svg {
  left: 7px;
  top: -4px;
  fill: rgba(120, 162, 46, 0.8);
  width: 31px;
  height: 31px;
  transition: all 0.2s ease-in-out;
  position: relative;
  top: 8px;
}

.gdpr span {
  position: relative;
  display: inline-block;
  padding: 0 0 0 10px;
}

.gdpr a:hover {
  transition: all 0.2s ease-in-out;
  border: 1px solid #78a22e;
  background: #78a22e;
  color: #1c1c1c;
}

.gdpr a:hover svg {
  transition: all 0.2s ease-in-out;
  fill: #1c1c1c;
}

.footer-bottom {
  border-top: 1px solid #313131;
  border-bottom: 1px solid #313131;
  background-color: #212122;
  padding: 20px 0;
}

.footer-bottom p {
  color: #525252;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 766px) {
  .holder-promos {
    display: block;
  }
  .promo2,
  .promo3,
  .promo4 {
    margin-top: 40px;
  }
  .holder-extra {
    display: block;
  }
  .left,
  .right {
    display: block;
    width: 100% !important;
    text-align: center;
  }
  .holder-logo {
    margin-bottom: 25px;
  }
  .block-one {
    border: none;
  }
  .footer-top-main {
    width: 100%;
    display: block;
  }
  .footer-top-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-top-right {
    border-top: 1px dashed #636363;
    margin-top: 15px;
    padding: 15px 0;
  }
  .footer-top-right p {
    text-align: center;
  }
  .title-link {
    text-decoration: none;
    color: #575757;
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid #525252;
    border-radius: 100px;
    padding: 8px 15px 8px 15px;
    margin: 0 0 15px;
  }
  .link-box li {
    padding: 30px 0;
  }
  .content {
    display: block;
    padding: 0 10px;
  }
  .middle-left,
  .middle-right,
  .payment,
  .social {
    width: 100%;
  }
  .link-box {
    display: block;
    text-align: center;
    width: 100%;
  }
  .box {
    display: block;
    text-align: center;
    width: 100%;
  }
  .payment,
  .social {
    margin-bottom: 20px;
  }
  .payment {
    display: flex;
    justify-content: center;
  }
  .payment img {
    width: 50%;
  }
}
.carousel {
  padding: 15px 30px;
  margin: 15px 0;
  text-align: center;
  border-radius: 15px;
  background: linear-gradient(0deg, #2d2d2b, transparent);
}

.carousel-slider {
  width: 100%;
  height: 390px !important;
}

.slides {
  position: relative;
  z-index: 1;
}

.slide-txt {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.sliders-back svg {
  position: relative;
  top: -25px;
  left: auto !important;
  width: 600px;
  height: 400px;
  overflow-x: hidden;
  fill: rgba(255, 255, 255, 0.02);
}

.slide-txt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide-txt div:nth-child(1),
.slide-txt div:nth-child(3) {
  width: 30%;
  text-align: center !important;
}

.slide-txt div:nth-child(2) {
  width: 25%;
}

.slide-txt-1 h3 {
  font-size: 28px;
  margin-bottom: 15px;
  color: rgba(35, 160, 149, 0.9019607843);
}

.slide-txt-1 h2 {
  font-size: 40px;
  color: #adadad;
}

.slide-txt-1 div:nth-child(2) p {
  font-size: 18px;
  color: #adadad;
  margin-bottom: 15px;
}

.slide-txt-1 div:nth-child(2) a {
  position: relative;
  top: 15px;
  text-decoration: none;
  margin: 15px 20px 0 20px;
  transition: all 0.2s ease-in-out;
  color: rgba(35, 160, 149, 0.9019607843);
  border-radius: 100px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid rgba(35, 160, 149, 0.9019607843);
  font-size: 18px;
  padding: 12px 20px;
}

.slide-txt-1 div:nth-child(2) a:hover {
  transition: all 0.2s ease-in-out;
  border: 1px solid rgba(35, 160, 149, 0.9019607843);
  background: rgba(35, 160, 149, 0.9019607843);
  color: #1c1c1c;
}

.slide-txt-1 div:nth-child(3) p {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  fill: rgba(35, 160, 149, 0.9019607843);
  color: #adadad;
  font-size: 25px;
  margin: 15px 0;
}

.slide-txt-big-svg {
  width: 250px;
  fill: rgba(35, 160, 149, 0.9019607843);
  color: rgba(35, 160, 149, 0.9019607843);
}

.slide-txt-small-svg {
  width: 24px;
  height: 24px;
}

.slide-txt-2 h3 {
  font-size: 30px;
  margin-bottom: 15px;
  color: #dc8510;
}

.slide-txt-2 h2 {
  font-size: 40px;
  color: #adadad;
}

.slide-txt-2 div:nth-child(1) p {
  font-size: 18px;
  color: #adadad;
  margin-bottom: 15px;
}

.slide-txt-2 div:nth-child(1) a {
  position: relative;
  top: 15px;
  text-decoration: none;
  margin: 15px 20px;
  transition: all 0.2s ease-in-out;
  color: #dc8510;
  border-radius: 100px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #dc8510;
  font-size: 18px;
  padding: 12px 20px;
}

.slide-txt-2 div:nth-child(1) a:hover {
  transition: all 0.2s ease-in-out;
  border: 1px solid #dc8510;
  background: #dc8510;
  color: #1c1c1c;
}

.slide-txt-2 div:nth-child(2) p {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  color: #adadad;
  font-size: 25px;
  margin: 15px 0;
}

.slide-txt-3 h3 {
  font-size: 30px;
  margin-bottom: 15px;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #9d7040, #c19668);
  -webkit-text-fill-color: transparent;
}

.slide-txt-3 h2 {
  font-size: 40px;
  color: #adadad;
}

.slide-txt-3 div:nth-child(2) a {
  position: relative;
  top: 25px;
  text-decoration: none;
  margin: 15px 20px 0 20px;
  transition: all 0.2s ease-in-out;
  color: #af7d47;
  border-radius: 100px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid rgba(157, 112, 64, 0.5019607843);
  font-size: 18px;
  padding: 12px 20px;
}

.slide-txt-3 div:nth-child(2) a:hover {
  transition: all 0.2s ease-in-out;
  border: 1px solid #af7d47;
  background: #af7d47;
  color: #1c1c1c;
}

.slide-txt-3 div:nth-child(3) p {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  fill: #af7d47;
  color: #adadad;
  font-size: 25px;
  margin: 15px 0;
}

.flex-svg {
  width: 340px;
  height: 150px;
}

.tt-logo {
  width: 324px;
  height: 115px;
}

.tt-symbol {
  width: 30px;
  height: 24px;
}

.fade-up {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-right {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 766px) {
  .slide-txt {
    display: block;
  }
  .slide-txt div:nth-child(1),
  .slide-txt div:nth-child(2),
  .slide-txt div:nth-child(3) {
    width: 100%;
  }
  .slide-txt-1 div:nth-child(1),
  .slide-txt-2 div:nth-child(3),
  .slide-txt-3 div:nth-child(1) {
    display: none;
  }
  .sliders-back svg {
    position: relative;
    top: -25px;
    width: 800px;
    height: 400px;
    right: 220px;
    overflow-x: hidden;
    fill: rgba(255, 255, 255, 0.02);
  }
  .slide-txt-1 h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: rgba(35, 160, 149, 0.9019607843);
  }
  .slide-txt-1 h2 {
    font-size: 30px;
    color: #adadad;
  }
  .slide-txt-2 h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #dc8510;
  }
  .slide-txt-2 h2 {
    font-size: 30px;
    color: #adadad;
  }
  .slide-txt-3 h3 {
    font-size: 24px;
    margin-bottom: 15px;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #9d7040, #c19668);
    -webkit-text-fill-color: transparent;
  }
  .slide-txt-3 h2 {
    font-size: 30px;
    color: #adadad;
  }
  .slide-txt-box {
    margin-top: 40px;
  }
  .slide-txt-1 div:nth-child(3) p,
  .slide-txt-2 div:nth-child(2) p,
  .slide-txt-3 div:nth-child(3) p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
  }
}
.home-offers {
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
}

.offer-box {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}

.offer-pics {
  width: 25%;
}

.offers {
  margin: 0 10px;
  background-color: #2b2b2b;
  border-radius: 15px;
  padding: 15px;
}

.offer-bottom {
  position: relative;
  margin-top: 60px;
  padding: 30px;
}

.offer-1 {
  width: calc(33.3333333333% - 20px);
}

.offer-2 {
  margin-top: 10px;
  width: calc(50% - 20px);
}

.title-offer {
  padding: 5px 0;
  color: #bfbfbf;
  font-size: 30px;
}

.offer-svg-link {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.offer-1 h6,
.offer-2 h6 {
  font-size: 22px;
  margin: 15px 0;
  color: rgba(255, 255, 255, 0.1215686275);
  font-weight: 100;
}

.offer-1 h6 span,
.offer-2 h6 span {
  color: #bfbfbf;
  font-size: 36px;
  margin-left: 5px;
}

.offer-svg-link span svg {
  width: 44px;
  height: 44px;
}

.offer-1 ul,
.offer-2 ul {
  color: #adadad;
  font-size: 18px;
  line-height: 145%;
  font-weight: 500;
}

.offer-link {
  transition: all 0.2s ease-in-out;
  display: inline-block;
  padding: 7px 13px;
  font-size: 18px;
  border-radius: 100px;
  text-decoration: none;
}

.offer-link:hover {
  transition: all 0.2s ease-in-out;
  color: #171717;
}

.offer-svg-link-1 span:nth-child(1) svg {
  fill: #23a095;
}

.offer-svg-link-1 span:nth-child(2) svg,
.offer-svg-link-1 span:nth-child(3) svg {
  fill: rgba(255, 255, 255, 0.1215686275);
}

.offer-link-1 {
  color: #23a095;
  border: 1px solid #23a095;
}

.offer-link-1:hover {
  background: #23a095;
}

.offer-link-2 {
  color: #dc8510;
  border: 1px solid #dc8510;
}

.offer-link-2:hover {
  background: #dc8510;
}

.offer-svg-link-2 span:nth-child(1) svg,
.offer-svg-link-2 span:nth-child(2) svg {
  fill: #dc8510;
}

.offer-svg-link-2 span:nth-child(3) svg {
  fill: rgba(255, 255, 255, 0.1215686275);
}

.offer-link-3 {
  color: #78a22e;
  border: 1px solid #78a22e;
}

.offer-link-3:hover {
  background: #78a22e;
}

.offer-svg-link-3 span svg {
  fill: #78a22e;
}

.infinty-svg {
  fill: #9d7040;
  width: 80px !important;
  height: 40px !important;
}

.offer-link-4 {
  color: #9d7040;
  border: 1px solid #9d7040;
}

.offer-link-4:hover {
  background-color: #9d7040;
}

.san-svg {
  position: absolute;
  top: -30px;
  right: 20px;
  width: 160px !important;
  height: 160px !important;
  fill: #78a22e;
  color: rgba(255, 255, 255, 0.1215686275);
}

.offer-pics p {
  text-align: center;
  font-size: 22px;
  color: #bfbfbf;
}

.offer-pics div {
  text-align: center;
}

.offer-support {
  position: relative;
  top: 15px;
  border: 1px solid #78a22e;
  background: #78a22e;
  color: black;
  font-size: 19px;
  padding: 7px 15px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.offer-support:hover {
  color: white;
}

.svg-txt {
  margin: 10px 0 0 0;
  position: relative;
  text-align: center;
}

.svg-txt-bg {
  position: absolute;
  right: 0;
  left: 0;
  height: 110px;
  background-color: #2b2b2b;
  border-radius: 100px;
  z-index: -1;
  top: 50px;
}

.svg-txt svg {
  width: 256px;
  height: 161px;
}

.txt-domian {
  position: absolute;
  color: #78a22e;
  left: 20px;
  top: 75px;
  font-size: 15px;
  font-weight: bold;
}

.txt-business {
  position: absolute;
  color: #dc8510;
  right: 20px;
  top: 75px;
  font-size: 15px;
  font-weight: bold;
}

.mln-txt {
  font-size: 48px !important;
  color: #c92967 !important;
  font-weight: 700;
  letter-spacing: -1px;
}

.mln-txt b {
  color: #696969;
}

.mln-txt-1 {
  font-size: 19px !important;
  color: #696969 !important;
}

.logos {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.logo-box {
  width: calc(33.3333333333% - 2px);
  margin: 10px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-google svg {
  width: 73px;
  height: 23px;
  fill: #696969;
}

.logo-paypal svg {
  width: 71px;
  height: 23px;
  fill: #696969;
}

.logo-skrill svg {
  width: 58px;
  height: 20px;
  fill: #696969;
}

.logo-visa svg {
  width: 58px;
  height: 18px;
  fill: #696969;
}

.logo-ibm svg {
  width: 60px;
  height: 25px;
  fill: #696969;
}

.logo-huawei svg {
  width: 68px;
  height: 12px;
  fill: #696969;
}

.logo-nokia svg {
  width: 72px;
  height: 12px;
  fill: #696969;
}

.logo-canon svg {
  width: 65px;
  height: 16px;
  fill: #696969;
}

.logo-adobe svg {
  width: 65px;
  height: 22px;
  fill: #696969;
}

.platinium-svg {
  width: 115px;
  height: 115px;
  fill: #78a22e;
}

.about-offer {
  display: flex;
  margin-top: 40px;
}

.about-offer div:first-child {
  width: 50% !important;
}

.about-offer div:nth-child(2),
.about-offer div:nth-child(3) {
  width: 25% !important;
}

.about-offer div {
  padding: 10px 20px;
}

.about-offer div:nth-child(1),
.about-offer div:nth-child(2) {
  border-right: 1px dashed #8c8c8c;
}

.about-offer h3 {
  font-size: 36px;
  color: #bfbfbf;
  font-weight: 500;
}

.about-offer-p {
  padding-left: 125px !important;
}

.about-offer p {
  font-size: 20px;
  color: #8c8c8c;
  margin-top: 20px;
  line-height: 145%;
}

.big-link {
  display: block;
  font-size: 24px;
  border-radius: 100px;
  text-align: center;
  padding: 12px 0;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.big-link-1 {
  color: #78a22e;
  border: 1px solid #78a22e;
}

.big-link-1:hover {
  background-color: #78a22e;
  color: #2b2b2b;
}

.big-link-2 {
  color: #dc8510;
  border: 1px solid #dc8510;
}

.big-link-2:hover {
  background-color: #dc8510;
  color: #2b2b2b;
}

.small-link {
  text-decoration: none;
  color: #8c8c8c;
  text-decoration: underline;
}

.small-link:hover {
  text-decoration: none;
}

.sm-link-1 {
  color: #78a22e;
}

.sm-link-2 {
  color: #dc8510;
}

.view-sm {
  display: none;
}

@media (max-width: 766px) {
  .view-lg {
    display: none !important;
  }
  .home-offers,
  .offer-box,
  .about-offer,
  .view-sm {
    display: block !important;
  }
  .offer-box,
  .offer-pics,
  .offer-1,
  .offer-2,
  .about-offer,
  .about-offer div:nth-child(1),
  .about-offer div:nth-child(2),
  .about-offer div:nth-child(3) {
    width: 100% !important;
  }
  .offer-1,
  .offer-2 {
    margin: 10px 0 0 0;
  }
  .about-offer h3 {
    font-size: 28px;
    text-align: center;
  }
  .about-offer-p {
    padding-left: 0 !important;
  }
  .about-offer div:nth-child(1),
  .about-offer div:nth-child(2) {
    border: none;
    border-top: 1px dashed #8c8c8c;
    padding: 30px 20px;
  }
  .platinium-svg {
    width: 105px;
    height: 105px;
  }
  .d-flex {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .san-svg {
    display: none;
  }
}
@keyframes animate-arrows-1 {
  0% {
    transform: translateX(-35px);
    opacity: 0;
  }
  70%, 100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes animate-arrows-2 {
  0% {
    transform: translateX(-18px);
    opacity: 0;
  }
  70%, 100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes animate-arrows-3 {
  0% {
    transform: translateX(-8px);
    opacity: 0;
  }
  70%, 100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.certificates {
  padding: 45px;
}

.cert-txt-svg {
  width: 95px;
  height: 122px;
  fill: #dc8510;
}

.cert-txt h3 {
  color: #ccc;
  font-size: 36px;
}

.cert-txt h4 {
  color: #dc8510;
  font-size: 28px;
  margin: 25px 0;
}

.cert-txt-item {
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.cert-txt p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 145%;
  color: #9e9e9e;
}

.ad-brand {
  background: rgba(0, 0, 0, 0.07);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 100px;
  padding: 25px 20px 20px 20px;
  border: 1px dashed #454545;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.ad-brand-box {
  display: flex;
  gap: 25px;
}

.ad-brand p {
  width: 100%;
  font-size: 18px;
  color: #636363;
  margin: 0;
}

.comodo-svg {
  width: 170px;
  height: 28px;
  fill: #C61B31;
}

.arrows svg {
  width: 12px !important;
  height: 20px !important;
}

.arrows span {
  display: flex;
  gap: 1px;
}

.arrows span span svg {
  width: 12px !important;
  height: 28px !important;
  transform: rotate(360deg);
}

.arrows span span:nth-child(1) {
  animation: animate-arrows-1 1s ease-in-out infinite;
}

.arrows span span:nth-child(1) svg {
  fill: #C61B31;
}

.arrows span span:nth-child(2) {
  animation: animate-arrows-2 1s ease-in-out infinite 0.1s;
}

.arrows span span:nth-child(2) svg {
  fill: #636652;
}

.arrows span span:nth-child(3) {
  animation: animate-arrows-3 1s ease-in-out infinite 0.2s;
}

.arrows span span:nth-child(3) svg {
  fill: #00b073;
}

.sectigo svg {
  color: #00b073;
  fill: #757575;
  width: 128px;
}

.ad-brand-link {
  text-align: center;
  width: 15%;
  color: #757575;
  border: 1px solid #525252;
  font-size: 19px;
  text-align: center;
  padding: 8px 18px 8px 22px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.ad-brand-link:hover {
  transition: all 0.2s ease-in-out;
  background-color: #dc8510;
  border: 1px solid #dc8510;
  color: #1c1c1c;
}

.cert-info {
  margin-top: 40px;
}

.cert-info-item {
  padding: 15px 0;
  border-top: 1px dashed #454545;
  display: flex;
  gap: 15px;
}

.cert-pricing {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.cert-pricing a {
  display: flex;
  gap: 10px;
  font-size: 18px;
  align-items: center;
  text-decoration: none;
  border: 1px solid #454545;
  color: #8c8c8c;
  padding: 10px 20px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.cert-info h3 {
  font-size: 30px;
  color: #adadad;
  font-weight: 100;
}

.go-dv-ssl {
  color: #23a095 !important;
}

.go-ov-ssl {
  color: #dc8510 !important;
}

.ev-ov-ssl {
  color: #78a22e !important;
}

.wild-ssl {
  color: #9d7040 !important;
}

.md-ssl {
  color: #c92967 !important;
}

.cs-ssl {
  color: #8c8c8c !important;
}

.sm-ssl {
  color: #c63200 !important;
}

.cert-price {
  font-size: 20px;
  color: #575757;
}

.cert-price b {
  font-size: 26px;
  font-weight: 100;
}

.arrow-link span svg {
  width: 12px !important;
  height: 12px !important;
}

.navshield {
  width: 110px;
  height: 130px;
}

.cert-symbol {
  position: absolute;
  font-size: 60px;
  font-weight: bold;
  color: #555555;
  top: 30px;
  left: 35px;
}

.cert-symbol-w {
  left: 26px;
}

.cert-symbol-a {
  top: 23px;
  left: 23px;
}

.cert-svg-box {
  position: relative;
  margin: 0 20px;
}

.dv-navshield {
  fill: #23a095;
}

.ov-navshield {
  fill: #dc8510;
}

.ev-navshield {
  fill: #78a22e;
}

.wild-navshield {
  fill: #9d7040;
}

.md-navshield {
  fill: #c92967;
}

.cs-navshield {
  fill: #8c8c8c;
}

.sm-navshield {
  fill: #c63200;
}

.dv-price {
  color: #23a095;
}

.ov-price {
  color: #dc8510;
}

.ev-price {
  color: #78a22e;
}

.wild-price {
  color: #9d7040;
}

.md-price {
  color: #c92967;
}

.cs-price {
  color: #8c8c8c;
}

.sm-price {
  color: #c63200;
}

.arrow-link span {
  fill: #555555;
}

.go-dv-ssl:hover {
  border: 1px solid #23a095;
  transition: all 0.2s ease-in-out;
}
.go-dv-ssl:hover .arrow-link span:nth-child(1) {
  animation: animate-arrows-1 1s ease-in-out infinite;
}
.go-dv-ssl:hover .arrow-link span:nth-child(1) svg {
  fill: #23a095;
}
.go-dv-ssl:hover .arrow-link span:nth-child(2) {
  animation: animate-arrows-2 1s ease-in-out infinite 0.1s;
}
.go-dv-ssl:hover .arrow-link span:nth-child(2) svg {
  fill: #23a095;
}
.go-dv-ssl:hover .arrow-link span:nth-child(3) {
  animation: animate-arrows-3 1s ease-in-out infinite 0.2s;
}
.go-dv-ssl:hover .arrow-link span:nth-child(3) svg {
  fill: #23a095;
}

.go-ov-ssl:hover {
  border: 1px solid #dc8510;
  transition: all 0.2s ease-in-out;
}
.go-ov-ssl:hover .arrow-link span:nth-child(1) {
  animation: animate-arrows-1 1s ease-in-out infinite;
}
.go-ov-ssl:hover .arrow-link span:nth-child(1) svg {
  fill: #dc8510;
}
.go-ov-ssl:hover .arrow-link span:nth-child(2) {
  animation: animate-arrows-2 1s ease-in-out infinite 0.1s;
}
.go-ov-ssl:hover .arrow-link span:nth-child(2) svg {
  fill: #dc8510;
}
.go-ov-ssl:hover .arrow-link span:nth-child(3) {
  animation: animate-arrows-3 1s ease-in-out infinite 0.2s;
}
.go-ov-ssl:hover .arrow-link span:nth-child(3) svg {
  fill: #dc8510;
}

.ev-ov-ssl:hover {
  border: 1px solid #78a22e;
  transition: all 0.2s ease-in-out;
}
.ev-ov-ssl:hover .arrow-link span:nth-child(1) {
  animation: animate-arrows-1 1s ease-in-out infinite;
}
.ev-ov-ssl:hover .arrow-link span:nth-child(1) svg {
  fill: #78a22e;
}
.ev-ov-ssl:hover .arrow-link span:nth-child(2) {
  animation: animate-arrows-2 1s ease-in-out infinite 0.1s;
}
.ev-ov-ssl:hover .arrow-link span:nth-child(2) svg {
  fill: #78a22e;
}
.ev-ov-ssl:hover .arrow-link span:nth-child(3) {
  animation: animate-arrows-3 1s ease-in-out infinite 0.2s;
}
.ev-ov-ssl:hover .arrow-link span:nth-child(3) svg {
  fill: #78a22e;
}

.wild-ssl:hover {
  border: 1px solid #9d7040;
  transition: all 0.2s ease-in-out;
}
.wild-ssl:hover .arrow-link span:nth-child(1) {
  animation: animate-arrows-1 1s ease-in-out infinite;
}
.wild-ssl:hover .arrow-link span:nth-child(1) svg {
  fill: #9d7040;
}
.wild-ssl:hover .arrow-link span:nth-child(2) {
  animation: animate-arrows-2 1s ease-in-out infinite 0.1s;
}
.wild-ssl:hover .arrow-link span:nth-child(2) svg {
  fill: #9d7040;
}
.wild-ssl:hover .arrow-link span:nth-child(3) {
  animation: animate-arrows-3 1s ease-in-out infinite 0.2s;
}
.wild-ssl:hover .arrow-link span:nth-child(3) svg {
  fill: #9d7040;
}

.md-ssl:hover {
  border: 1px solid #c92967;
  transition: all 0.2s ease-in-out;
}
.md-ssl:hover .arrow-link span:nth-child(1) {
  animation: animate-arrows-1 1s ease-in-out infinite;
}
.md-ssl:hover .arrow-link span:nth-child(1) svg {
  fill: #c92967;
}
.md-ssl:hover .arrow-link span:nth-child(2) {
  animation: animate-arrows-2 1s ease-in-out infinite 0.1s;
}
.md-ssl:hover .arrow-link span:nth-child(2) svg {
  fill: #c92967;
}
.md-ssl:hover .arrow-link span:nth-child(3) {
  animation: animate-arrows-3 1s ease-in-out infinite 0.2s;
}
.md-ssl:hover .arrow-link span:nth-child(3) svg {
  fill: #c92967;
}

.cs-ssl:hover {
  border: 1px solid #8c8c8c;
  transition: all 0.2s ease-in-out;
}
.cs-ssl:hover .arrow-link span:nth-child(1) {
  animation: animate-arrows-1 1s ease-in-out infinite;
}
.cs-ssl:hover .arrow-link span:nth-child(1) svg {
  fill: #8c8c8c;
}
.cs-ssl:hover .arrow-link span:nth-child(2) {
  animation: animate-arrows-2 1s ease-in-out infinite 0.1s;
}
.cs-ssl:hover .arrow-link span:nth-child(2) svg {
  fill: #8c8c8c;
}
.cs-ssl:hover .arrow-link span:nth-child(3) {
  animation: animate-arrows-3 1s ease-in-out infinite 0.2s;
}
.cs-ssl:hover .arrow-link span:nth-child(3) svg {
  fill: #8c8c8c;
}

.sm-ssl:hover {
  border: 1px solid #c63200;
  transition: all 0.2s ease-in-out;
}
.sm-ssl:hover .arrow-link span:nth-child(1) {
  animation: animate-arrows-1 1s ease-in-out infinite;
}
.sm-ssl:hover .arrow-link span:nth-child(1) svg {
  fill: #c63200;
}
.sm-ssl:hover .arrow-link span:nth-child(2) {
  animation: animate-arrows-2 1s ease-in-out infinite 0.1s;
}
.sm-ssl:hover .arrow-link span:nth-child(2) svg {
  fill: #c63200;
}
.sm-ssl:hover .arrow-link span:nth-child(3) {
  animation: animate-arrows-3 1s ease-in-out infinite 0.2s;
}
.sm-ssl:hover .arrow-link span:nth-child(3) svg {
  fill: #c63200;
}

@media (max-width: 766px) {
  @keyframes animate-arrow-1 {
    0% {
      transform: translateY(-25px);
      opacity: 0;
    }
    70%, 100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes animate-arrow-2 {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }
    70%, 100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes animate-arrow-3 {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }
    70%, 100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .certificates {
    padding: 30px;
  }
  .cert-txt-item,
  .cert-txt-item span,
  .cert-info-item,
  .cert-pricing {
    display: block !important;
  }
  .cert-txt-item span:nth-child(1) {
    text-align: center;
  }
  .cert-txt h3 {
    font-size: 30px;
    text-align: center;
  }
  .cert-txt h4 {
    font-size: 25px;
  }
  .ad-brand,
  .ad-brand-box,
  .arrows span {
    display: block;
    text-align: center;
  }
  .ad-brand p {
    width: 100%;
    font-size: 18px;
    color: #636363;
    margin: 10px 0 20px 0;
  }
  .ad-brand {
    border-radius: 10px;
  }
  .arrows span {
    padding-top: 5px;
    height: 80px;
  }
  .arrows span span {
    height: 13px;
  }
  .arrows svg {
    width: 20px !important;
    height: 12px !important;
  }
  .arrows span span svg {
    transform: rotate(90deg);
  }
  .arrows span span:nth-child(1) {
    animation: animate-arrow-1 1s ease-in-out infinite;
  }
  .arrows span span:nth-child(2) {
    animation: animate-arrow-2 1s ease-in-out infinite 0.1s;
  }
  .arrows span span:nth-child(3) {
    animation: animate-arrow-3 1s ease-in-out infinite 0.2s;
  }
  .cert-svg-box {
    position: relative;
    text-align: center;
  }
  .cert-symbol {
    right: 35px;
  }
  .cert-symbol-w {
    right: 26px;
  }
  .cert-info h3 {
    font-size: 25px;
    text-align: start;
    margin-top: 15px;
  }
  .cert-pricing {
    display: flex !important;
    flex-direction: column-reverse;
    justify-content: center;
  }
}
.exchange-center {
  display: flex;
  margin: 30px 0;
}

.side-bar {
  width: 25%;
}

.outlet {
  width: 85%;
  background-color: #292929;
  border-radius: 15px;
}

@media (max-width: 766px) {
  .exchange-center {
    display: flex !important;
    flex-direction: column-reverse !important;
  }
  .side-bar,
  .outlet {
    width: 100%;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.side-bar-main {
  padding: 15px;
}

.list-link li {
  margin-bottom: 5px;
}

.list-link a {
  display: flex;
  padding: 11px 15px 11px 15px;
  align-items: center;
  color: #9e9e9e;
  transition: all 0.2s ease-in-out;
  border: 1px solid #4d4d4d;
  border-radius: 100px;
  font-size: 18px;
  text-decoration: none;
  gap: 5px;
}

.list-link a:hover {
  border: 1px solid #757575;
  color: #bfbfbf;
  background: rgba(255, 255, 255, 0.03);
  transition: all 0.2s ease-in-out;
}

.side-bar-svg {
  width: 28px;
  height: 30px;
  fill: #575757;
}

.list-link-2 {
  margin-top: 30px;
}

.side-bar-svg-gear {
  width: 31px;
  height: 30px;
  fill: #78a22e;
  color: #525252;
}

.side-bar-svg-decoder {
  width: 31px;
  height: 30px;
  fill: #dc8510;
  color: #525252;
}

.side-bar-svg-checker {
  width: 31px;
  height: 30px;
  fill: #23a095;
  color: #525252;
}

.list-link-2 li:hover .side-bar-svg-gear,
.list-link-2 li:hover .side-bar-svg-decoder,
.list-link-2 li:hover .side-bar-svg-checker {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 2000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 2000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.offer-pics-sidebar {
  width: 100% !important;
}

.offer-pics-sidebar .offer-top .svg-txt svg {
  width: 220px;
}

.offer-pics-sidebar .offer-top .svg-txt .txt-domian {
  left: 10px;
}

.offer-pics-sidebar .offer-top .svg-txt .txt-business {
  right: 10px;
}

.offer-bottom-sidebar .mln-txt {
  font-size: 40px !important;
}

.offer-bottom-sidebar .mln-txt-1 {
  font-size: 17px !important;
}

.info-block {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info-block div {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  border: 1px solid #363636;
  padding: 15px 0px;
  margin: 7px 7px 0 0;
  flex-grow: 1;
  text-align: center;
}

.info-block div span:first-child {
  display: block;
  font-size: 36px;
  color: #dc8510;
}

.info-block div span:last-child {
  display: block;
  font-size: 20px;
  color: #696969;
}

.be-partner {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.04);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  text-align: center;
  border: 1px dashed #424242;
  border-radius: 100px;
  margin: 20px 0 25px 0;
}

.be-partner a {
  display: flex;
  position: relative;
  padding: 10px 15px 12px 45px;
  align-items: center;
  gap: 10px;
}

.be-partner svg {
  fill: #525252;
  width: 40px;
  height: 29px;
}

.be-partner a {
  color: #9e9e9e;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.be-partner a:hover {
  color: #DC8510;
  transition: all 0.2s ease-in-out;
}

.reseler-ul {
  margin-top: 40px;
}

.reseler-ul li {
  margin-top: 40px;
  display: flex;
  gap: 15px;
}

.reseler-ul li div span {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #2f2f2f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reseler-ul h3 {
  font-weight: 100;
  font-size: 30px;
  color: #adadad;
}

.res-svg {
  width: 85px;
  height: 85px;
}

.res-price {
  fill: rgba(120, 162, 46, 0.9019607843);
}

.res-prohib {
  fill: rgba(198, 50, 0, 0.9019607843);
}

.res-change {
  fill: #dc8510;
}

.res-ghost {
  fill: rgba(255, 255, 255, 0.2);
}

.res-calendar {
  fill: rgba(157, 112, 64, 0.9019607843);
}

.res-money {
  fill: #dc8510;
}/*# sourceMappingURL=import.css.map */