html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}

body {
  background-image: url("../../Images/bg-main.jpg");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}

* ul {
  list-style: none;
}

.gb-padding {
  padding: 0 15px;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.csr-svg {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  fill: #78a22e !important;
  color: #575757;
  width: 130px;
  height: 130px;
}

.a-com {
  width: 100%;
  height: 100vh;
  background-color: red;
}

.b-com {
  width: 100%;
  height: 100vh;
  background-color: orange;
}

.nav-main {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3f3d40;
  border-radius: 50px;
  height: 55px;
  width: 100%;
}

.nav-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.img-icon {
  width: 40px;
  height: 40px;
}

.img-icon-support {
  width: 55px;
  height: 55px;
}

.img-text-icon {
  width: 30px !important;
  height: 33px !important;
}

.nav-item-li {
  border-right: 1px solid white;
}

.nav-item-li-last:hover .nav-item-link {
  transition: 0.4s;
  color: #DC8510;
}

.nav-item-li:hover .nav-item-link {
  transition: 0.4s;
  color: #DC8510;
}

.nav-item a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #c4c5c5;
  font-size: 19px;
  padding: 15px 17px;
}

.main-sect {
  display: none !important;
}

.sect-one {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 680px;
  top: 38px;
  background: rgba(22, 22, 22, 0.9019607843);
  border-radius: 10px;
}

.certificate-menu:hover .main-sect {
  display: block !important;
}

.sect-one li {
  width: 50%;
  transition: 0.4s;
}

.sect-one li:nth-child(2),
.sect-one li:nth-child(4),
.sect-one li:nth-child(6) {
  border-bottom: 1px solid rgba(83, 82, 82, 0.552);
  border-left: 1px solid rgba(83, 82, 82, 0.552);
}

.sect-one li:nth-child(1),
.sect-one li:nth-child(3),
.sect-one li:nth-child(5) {
  border-bottom: 1px solid rgba(83, 82, 82, 0.552);
}

.sect-one li:nth-child(8) {
  border-left: 1px solid rgba(83, 82, 82, 0.552);
}

.sect-one li:hover {
  background-color: rgba(164, 164, 164, 0.195);
  transition: 0.4s ease-in-out;
}

.sect-one-1 {
  border-radius: 10px 0 0 0;
}

.sect-one-2 {
  border-radius: 0 10px 0 0;
}

.sect-one-3 {
  border-radius: 0 0 0 10px;
}

.sect-one-4 {
  border-radius: 0 0 10px 0;
}

.dv {
  padding: 15px;
  position: relative;
}

.img-text-icon {
  position: relative;
  top: -12px;
}

.img-text-icon svg {
  width: 30px;
  height: 33px;
}

.nav-link-box {
  display: flex;
  gap: 10px;
  text-decoration: none;
  align-items: center;
}

.symbol-d {
  position: absolute;
  font-weight: bold;
  font-size: 16px;
  left: 9px;
  top: 6px;
  color: #25958b;
}

.symbol-s {
  position: absolute;
  font-weight: bold;
  font-size: 16px;
  left: 9px;
  top: 6px;
  color: rgba(210, 20, 60, 0.9019607843);
}

.symbol-b {
  position: absolute;
  font-weight: bold;
  font-size: 16px;
  left: 9px;
  top: 6px;
  color: #dc8510;
}

.symbol-w {
  position: absolute;
  font-weight: bold;
  font-size: 16px;
  left: 7px;
  top: 7px;
  color: rgba(157, 112, 64, 0.9019607843);
}

.symbol-e {
  position: absolute;
  font-size: 17px;
  font-weight: bold;
  left: 9px;
  top: 6px;
  color: rgba(120, 162, 46, 0.9019607843);
}

.symbol-a {
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  left: 6.5px;
  top: 5px;
  color: rgba(198, 50, 0, 0.9019607843);
}

.symbol-c {
  position: absolute;
  font-size: 17px;
  font-weight: bold;
  left: 9px;
  top: 6px;
  color: rgb(140, 140, 140);
}

.symbol-v {
  position: absolute;
  font-size: 17px;
  font-weight: bold;
  left: 9px;
  top: 6px;
  color: rgba(35, 160, 149, 0.9019607843);
}

.text-box span {
  font-size: 22px;
  color: #ffffff;
  font-weight: normal;
}

.text-box p {
  font-size: 18px;
  color: #5e5e5e;
  padding: 4px 0 0 0;
  line-height: 135%;
  display: block;
}

.nav-item li {
  position: relative;
}

.sect-two {
  position: absolute;
  width: 1190px;
  left: -210px;
  top: 39px;
  display: flex;
  justify-content: center !important;
  gap: 10px;
  background: rgba(22, 22, 22, 0.9019607843);
  border-radius: 12px;
}

.sect-two div:nth-child(1),
.sect-two div:nth-child(2),
.sect-two div:nth-child(3),
.sect-two div:nth-child(4) {
  border-right: 1px dashed #2b2b2b;
}

.sect-two-item {
  padding: 15px;
}

.sect-two-item-btn {
  width: 150px;
  padding: 5px 25px;
  font-size: 22px;
  border-radius: 50px;
  background: transparent;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn-digicert {
  color: #1B75BC;
  border: 2px solid #0274c4;
}

.btn-digicert:hover {
  background: #0274c4;
  color: #2b2b2b;
}

.btn-gogetssl {
  color: #dc8510;
  border: 2px solid #dc8510;
}

.btn-gogetssl:hover {
  background: #dc8510;
  color: #2b2b2b;
}

.btn-sectigo {
  color: #00b073;
  border: 2px solid #00b073;
}

.btn-sectigo:hover {
  background: #00b073;
  color: #2b2b2b;
}

.btn-geotrust {
  color: rgba(35, 160, 149, 0.9019607843);
  border: 2px solid rgba(35, 160, 149, 0.9019607843);
}

.btn-geotrust:hover {
  background: rgba(35, 160, 149, 0.9019607843);
  color: #2b2b2b;
}

.btn-rapidssl {
  margin-top: 10px;
  color: #9d7040;
  border: 2px solid #9d7040;
}

.btn-rapidssl:hover {
  background: #9d7040;
  color: #2b2b2b;
}

.btn-thawte {
  color: rgba(210, 20, 60, 0.9019607843);
  border: 2px solid rgba(210, 20, 60, 0.9019607843);
}

.btn-thawte:hover {
  background: rgba(210, 20, 60, 0.9019607843);
  color: #2b2b2b;
}

.btn-target {
  width: 180px;
  border: 2px solid #323233;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 40px;
  transition: 0.4s;
}

.btn-target span {
  font-size: 17px;
  color: #dc8510;
}

.btn-target:hover {
  transition: 0.4s;
  border: 2px solid #dc8510;
}

.btn-compare {
  width: 180px;
  border: 2px solid #323233;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
  transition: 0.4s;
}

.btn-compare span {
  font-size: 19px;
  color: rgba(120, 162, 46, 0.9019607843);
}

.btn-compare:hover {
  transition: 0.4s;
  border: 2px solid rgba(120, 162, 46, 0.9019607843);
}

.sect-two-item a {
  display: block;
  color: #bfbfbf;
  margin: 5px 0;
  padding: 0;
  font-size: 17px;
}

.sect-two-item a:hover {
  color: #dc8510;
  text-decoration: underline;
}

.sect-three {
  position: absolute;
  width: 680px;
  top: 39px;
  left: -450px;
  display: flex;
  flex-wrap: wrap;
  background: rgba(22, 22, 22, 0.9019607843);
  border-radius: 10px;
}

.sect-three li {
  width: 50%;
  transition: 0.4s;
}

.sect-three-link {
  display: flex;
  align-items: middle;
  gap: 15px;
}

.sect-three li:nth-child(2),
.sect-three li:nth-child(4) {
  border-bottom: 1px solid rgba(83, 82, 82, 0.552);
  border-left: 1px solid rgba(83, 82, 82, 0.552);
}

.sect-three li:nth-child(1),
.sect-three li:nth-child(3) {
  border-bottom: 1px solid rgba(83, 82, 82, 0.552);
}

.sect-three li:nth-child(6) {
  border-left: 1px solid rgba(83, 82, 82, 0.552);
}

.sect-three li:hover {
  background-color: rgba(164, 164, 164, 0.195);
  transition: 0.4s ease-in-out;
}

.sect-four {
  position: absolute;
  width: 680px;
  top: 39px;
  left: -550px;
  display: flex;
  flex-wrap: wrap;
  background: rgba(22, 22, 22, 0.9019607843);
  border-radius: 10px;
}

.sect-four li {
  width: 50%;
  transition: 0.4s;
}

.sect-four-link {
  display: flex;
  align-items: middle;
  gap: 15px;
}

.sect-four li:nth-child(2),
.sect-four li:nth-child(4) {
  border-bottom: 1px solid rgba(83, 82, 82, 0.552);
  border-left: 1px solid rgba(83, 82, 82, 0.552);
}

.sect-four li:nth-child(1),
.sect-four li:nth-child(3) {
  border-bottom: 1px solid rgba(83, 82, 82, 0.552);
}

.sect-four li:nth-child(6) {
  border-left: 1px solid rgba(83, 82, 82, 0.552);
}

.sect-four li:hover {
  background-color: rgba(164, 164, 164, 0.195);
  transition: 0.4s ease-in-out;
}

.navigation-btn {
  display: none;
  position: relative;
  text-align: start;
  width: 150px;
  padding: 8px 8px 4px 8px;
  border-radius: 15px;
  border: 2px solid #5e5e5e;
  background-color: #373737;
  cursor: pointer;
}

.activeNavBtn .navigation-svg {
  fill: rgba(198, 50, 0, 0.9019607843);
}
.activeNavBtn span {
  color: rgba(198, 50, 0, 0.9019607843) !important;
}

.navigation-svg {
  fill: #dc8510;
}

.navigation-btn span {
  position: absolute;
  font-size: 18px;
  color: #9e9e9e;
  margin-left: 10px;
  top: 7px;
}

@media (max-width: 766px) {
  .wrapper {
    max-width: 766px;
    padding: 0 10px;
  }
  .nav {
    max-width: 766px;
    background: #3f403e;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 10px 0;
    border-radius: 20px;
  }
  .navigation-btn {
    display: block;
  }
  .nav-item {
    display: none;
  }
  .nav-item-responsive {
    display: block;
    width: 100%;
    margin: 20px 0;
  }
  .nav-item-li {
    background-color: #323332;
    border-radius: 10px;
    margin: 3px 0;
    padding: 10px;
  }
  .nav-item-li-last {
    border: none;
    background-color: #323332;
    border-radius: 10px;
    margin: 3px 0;
    padding: 10px;
  }
  .nav-item-li {
    border: none;
  }
  .main-sect-res {
    display: block;
  }
  .sect-res {
    position: static;
    width: 100%;
    padding: 5px;
    margin: 10px 0 0 0;
    display: block;
    text-align: center;
    background-color: transparent !important;
  }
  .sect-res li {
    width: 100% !important;
    transition: 0.4s;
    margin: 2px 0;
    border: none !important;
  }
  .img-text-icon {
    position: relative;
    top: 5px;
  }
  .text-box {
    align-items: center;
  }
  .text-box p {
    display: none;
  }
  .nav-item a {
    padding: 0;
  }
  .title {
    font-size: 15px !important;
  }
  .sect-two-item-btn {
    width: 100%;
  }
  .img-icon,
  .img-icon-support {
    width: 30px;
    height: 30px;
  }
  .img-text-icon {
    width: 25px !important;
    height: 25px !important;
    position: relative;
  }
  .img-text-icon svg {
    width: 25px !important;
    height: 25px !important;
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
  }
  .symbol-d,
  .symbol-s,
  .symbol-b,
  .symbol-w,
  .symbol-e,
  .symbol-a,
  .symbol-c,
  .symbol-v {
    top: 0px !important;
    left: 7px;
    font-size: 12px;
  }
  .symbol-d {
    left: 9px;
    top: 2px;
  }
  .symbol-e {
    top: 2px;
    left: 8px;
  }
  .symbol-a {
    top: 1px;
    left: 6px;
  }
  .symbol-s {
    left: 7.5px;
    top: 2px;
  }
  .symbol-v {
    left: 8.5px;
    top: 2px;
  }
  .symbol-b {
    top: 2px;
    left: 8px;
  }
  .symbol-w {
    top: 2px;
  }
  .symbol-c {
    top: 2px;
  }
  .nav-link-box,
  .sect-three-link {
    margin: 5px 0;
    border-radius: 5px;
    padding: 10px 5px !important;
    background: #2c2a2b;
  }
  .sect-two-item a {
    border-radius: 5px;
    padding: 5px;
    background-color: #2c2a2b;
  }
  .sect-two-item button {
    background-color: #2c2a2b;
  }
}
.header {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 20px;
}

.left-side div {
  border-left: 0.1px solid #5e5e5e;
  padding: 0 20px;
}

.left-side div b {
  color: white;
  font-size: 21px;
  font-weight: 100;
}

.left-side div span {
  color: #dc8510;
  font-weight: 400;
  font-size: 18px;
}

.left-side svg {
  width: 200px;
  height: 60px;
}

.right-side {
  background-color: #3d3d3d;
  border-radius: 50px;
  padding: 10px 12px;
}

.right-side-link {
  margin: 0 10px;
  color: #8c8c8c;
  text-decoration: none;
}

.right-side-link span {
  position: relative;
  top: -5px;
  margin-left: 5px;
  padding-right: 10px;
}

.right-side-link-d-none {
  display: none;
}

.right-side-link-span {
  border-right: 1px solid #575757;
  font-weight: bold;
}

.right-side-link-last-span {
  font-weight: bold;
}

.right-side-link:hover svg {
  transition: 0.4s;
  fill: #ccc;
}

.right-side-link:hover span {
  transition: 0.4s;
  color: #ccc;
}

.right-side-svg {
  width: 25px;
  height: 25px;
  fill: #8c8c8c;
}

@media (max-width: 766px) {
  .header {
    padding: 30px 10px;
    display: block;
  }
  .left-side {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .left-side div {
    text-align: center;
    width: 100%;
    border: none;
    border-top: 0.1px dashed #5e5e5e;
    padding: 15px 0;
  }
  .right-side {
    background-color: transparent;
    display: flex;
  }
  .right-side-link {
    border: 1px solid #525252;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .right-side-link span {
    margin-top: 10px;
  }
  .right-side-link-span {
    display: none;
  }
  .right-side-link-d-none {
    display: block;
  }
  .right-side-link span {
    border: none;
  }
}
.holder-promos {
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid #4d4d4d;
  display: flex;
  gap: 30px;
  align-items: center;
  box-shadow: inset 0 0 15px #242424;
  padding: 30px;
}

.promos h3 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.promos span b {
  font-size: 25px;
  font-weight: 600;
}

.promos span p {
  font-size: 18px;
  font-weight: 100;
  color: #bfbfbf;
}

.promo1 h3 {
  color: #bfbfbf;
}

.promo2 h3 {
  color: #dc8510;
}

.promo3 h3 {
  color: #78a22e;
}

.promo4 h3 {
  color: #23a095;
}

.promos-text {
  font-size: 20px;
  color: #8c8c8c;
  text-align: start;
  margin-top: 20px;
}

.promos-text a:hover {
  text-decoration: none;
}

.promo1-text a {
  color: #8c8c8c;
}

.promo2-text a {
  color: #dc8510;
}

.promo3-text a {
  color: #78a22e;
}

.promo4-text a {
  color: #23a095;
}

.timer-svg {
  width: 60px;
  height: 60px;
  fill: #8c8c8c;
}

.target-svg {
  width: 65px;
  height: 65px;
  fill: #dc8510;
}

.shield-svg {
  width: 65px;
  height: 65px;
  fill: #78a22e;
}

.money-back-svg {
  width: 60px;
  height: 60px;
  fill: #23a095;
}

.holder-extra {
  padding: 30px 0 45px;
  display: flex;
  color: #9e9e9e;
}

.holder-extra .left,
.right {
  width: 50%;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.holder-extra .left a {
  text-decoration: underline;
}

.holder-extra p {
  font-size: 20px;
}

.holder-extra a:hover {
  text-decoration: none;
}

.holder-text h3 {
  font-size: 30px;
}

.holder-text h3 b {
  color: #23a095;
}

.holder-text p {
  margin-top: 15px;
  font-size: 20px;
  line-height: 30px;
  word-spacing: 2px;
}

.holder-text p a {
  color: #9e9e9e;
}

.holder-logo {
  flex-direction: column;
  display: flex;
  padding: 0 30px 0 40px;
}

.holder-logo a {
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.holder-logo svg {
  width: 190px;
  transition: all 0.2s ease-in-out;
  fill: #23a095;
  color: #28b5a8;
}

.holder-logo a:hover svg {
  transition: all 0.2s ease-in-out;
  fill: #3bd4c7;
  color: #3bd4c7;
}

.holder-logo span {
  display: block;
  padding: 7px 15px;
  border-radius: 100px;
  white-space: nowrap;
  margin: 10px 0 0 0;
  background: rgba(255, 255, 255, 0.05);
  font-size: 18px;
  color: #8c8c8c;
  text-align: center;
}

.block-one p {
  text-align: center;
  font-size: 44px;
  color: #78a22e;
  padding: 5px 10px;
  font-weight: bold;
  margin-bottom: 20px;
}

.block-one a {
  border: 1px solid #78a22e;
  color: #78a22e;
  font-size: 19px;
  padding: 7px 15px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.block-one a:hover {
  background: #78a22e;
  color: #1c1c1c;
}

.block-one,
.block-two {
  width: 100%;
  padding: 30px;
  text-align: center;
}

.block-one {
  border-left: 1px dashed #454545;
  border-right: 1px dashed #454545;
}

.block-two div {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 100px;
  text-align: center;
  padding: 10px 15px;
  margin-top: 10px;
  border: 1px solid #454545;
}

.block-two div .num {
  font-size: 30px;
  color: #adadad;
}

.block-two div .txt {
  font-size: 20px;
  color: #757575;
}

.footer-top {
  padding: 20px 0;
  border-top: 1px solid #313131;
  border-bottom: 1px solid #313131;
  background-color: #212122;
  display: flex;
  justify-content: center;
}

.footer-top-main {
  width: 1400px;
  display: flex;
  justify-content: space-between !important;
}

.footer-top-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.browsers {
  display: flex;
  align-items: center;
  gap: 5px;
}

.browsers span {
  font-size: 22px;
  color: #4d4d4d;
}

.browsers svg {
  width: 27px;
  height: 27px;
}

.opera-svg {
  fill: rgba(190, 34, 38, 0.9019607843);
}

.ie-svg {
  fill: rgba(35, 160, 149, 0.9019607843);
}

.firefox-svg {
  fill: #dc8510;
}

.safari-svg {
  fill: #636363;
}

.chrome-svg {
  fill: rgba(120, 162, 46, 0.9019607843);
}

.footer-top-right p {
  color: #5e5e5e;
  font-size: 21px;
  font-weight: 500;
  margin: 0;
}

.footer-middle-contain {
  background-color: #272627;
}

.content {
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.middle-left,
.middle-right {
  width: 50%;
}

.middle-right {
  display: flex;
}

.row-one,
.row-two {
  width: 100%;
}

.middle-right-side-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link-box {
  display: flex;
  gap: 50px;
}

.box-link-item {
  transition: 0.4s;
  display: block;
  margin: 10px 0;
  text-decoration: none;
  color: #575757;
  font-size: 20px;
  font-weight: 500;
}

.title-link {
  transition: 0.4s;
  text-decoration: none;
  color: #8b8b8b;
  font-size: 26px;
}

.box-link-item:hover,
.title-link:hover {
  transition: 0.4s;
  text-decoration: underline;
  color: #8b8b8b !important;
}

.payment {
  border: 1px solid #454545;
  background: rgba(255, 255, 255, 0.02);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.payment,
.social {
  width: 50%;
}

.payment img {
  width: 100%;
}

.row-one,
.row-two {
  display: flex;
  justify-content: center;
}

.footer-social-medias {
  transition: all 0.2s ease-in-out;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px 0 5px;
  border-radius: 100px;
  position: relative;
  border: 1px solid #4f4f4f;
}

.social-holder svg {
  width: 32px;
  height: 32px;
  position: relative;
  top: -1px;
  fill: #4f4f4f;
}

.facebook:hover {
  background: #5391B2;
  border: 2px solid #5391B2;
}

.twitter:hover {
  background: #2D9DA9;
  border: 2px solid #2D9DA9;
}

.youtube:hover {
  background: #B72922;
  border: 2px solid #B72922;
}

.shopper svg {
  left: 2px;
}

.shopper:hover {
  background: #FFAB2B;
  border: 2px solid #FFAB2B;
}

.linkedin:hover {
  background: #3C6C86;
  border: 2px solid #3C6C86;
}

.gdpr {
  text-align: center;
  margin-top: 20px;
}

.gdpr a {
  position: relative;
  text-decoration: none;
  margin: 15px 20px 0 20px;
  transition: all 0.2s ease-in-out;
  color: #696969;
  border-radius: 100px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #454545;
  font-size: 18px;
  padding: 12px 40px;
}

.gdpr svg {
  left: 7px;
  top: -4px;
  fill: rgba(120, 162, 46, 0.8);
  width: 31px;
  height: 31px;
  transition: all 0.2s ease-in-out;
  position: relative;
  top: 8px;
}

.gdpr span {
  position: relative;
  display: inline-block;
  padding: 0 0 0 10px;
}

.gdpr a:hover {
  transition: all 0.2s ease-in-out;
  border: 1px solid #78a22e;
  background: #78a22e;
  color: #1c1c1c;
}

.gdpr a:hover svg {
  transition: all 0.2s ease-in-out;
  fill: #1c1c1c;
}

.footer-bottom {
  border-top: 1px solid #313131;
  border-bottom: 1px solid #313131;
  background-color: #212122;
  padding: 20px 0;
}

.footer-bottom p {
  color: #525252;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 766px) {
  .holder-promos {
    display: block;
  }
  .promo2,
  .promo3,
  .promo4 {
    margin-top: 40px;
  }
  .holder-extra {
    display: block;
  }
  .left,
  .right {
    display: block;
    width: 100% !important;
    text-align: center;
  }
  .holder-logo {
    margin-bottom: 25px;
  }
  .block-one {
    border: none;
  }
  .footer-top-main {
    width: 100%;
    display: block;
  }
  .footer-top-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-top-right {
    border-top: 1px dashed #636363;
    margin-top: 15px;
    padding: 15px 0;
  }
  .footer-top-right p {
    text-align: center;
  }
  .title-link {
    text-decoration: none;
    color: #575757;
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid #525252;
    border-radius: 100px;
    padding: 8px 15px 8px 15px;
    margin: 0 0 15px;
  }
  .link-box li {
    padding: 30px 0;
  }
  .content {
    display: block;
    padding: 0 10px;
  }
  .middle-left,
  .middle-right,
  .payment,
  .social {
    width: 100%;
  }
  .link-box {
    display: block;
    text-align: center;
    width: 100%;
  }
  .box {
    display: block;
    text-align: center;
    width: 100%;
  }
  .payment,
  .social {
    margin-bottom: 20px;
  }
  .payment {
    display: flex;
    justify-content: center;
  }
  .payment img {
    width: 50%;
  }
}/*# sourceMappingURL=import.css.map */