@media (max-width:766px) {
    .view-lg {
        display: none !important;
    }

    .home-offers,
    .offer-box,
    .about-offer,
    .view-sm {
        display: block !important;
    }

    .offer-box,
    .offer-pics,
    .offer-1,
    .offer-2,
    .about-offer,
    .about-offer div:nth-child(1),
    .about-offer div:nth-child(2),
    .about-offer div:nth-child(3) {
        width: 100% !important;
    }

    .offer-1,
    .offer-2 {
        margin: 10px 0 0 0;
    }

    .about-offer h3 {
        font-size: 28px;
        text-align: center;
    }

    .about-offer-p {
        padding-left: 0 !important;
    }

    .about-offer div:nth-child(1),
    .about-offer div:nth-child(2) {
        border: none;
        border-top: 1px dashed #8c8c8c;
        padding: 30px 20px;
    }

    .platinium-svg {
        width: 105px;
        height: 105px;
    }

    .d-flex {
        display: flex;
        gap: 10px;
        align-items: center;
    }
}