.header {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    display: flex;
    align-items: center;
    gap: 20px;
}

.left-side div {
    border-left: 0.1px solid #5e5e5e;
    padding: 0 20px;
}

.left-side div b {
    color: white;
    font-size: 21px;
    font-weight: 100;
}

.left-side div span {
    color: $main_color_1;
    font-weight: 400;
    font-size: 18px;
}

.left-side svg {
    width: 200px;
    height: 60px;
}

.right-side {
    background-color: #3d3d3d;
    border-radius: 50px;
    padding: 10px 12px;
}

.right-side-link {
    margin: 0 10px;
    color: #8c8c8c;
    text-decoration: none;
}

.right-side-link span {
    position: relative;
    top: -5px;
    margin-left: 5px;
    padding-right: 10px;
}

.right-side-link-d-none {
    display: none;
}

.right-side-link-span {
    border-right: 1px solid #575757;
    font-weight: bold;
}

.right-side-link-last-span {
    font-weight: bold;
}

.right-side-link:hover svg{
    transition: 0.4s;
    fill: #ccc;
}

.right-side-link:hover span{
    transition: 0.4s;
    color: #ccc;
}

.right-side-svg {
    width: 25px;
    height: 25px;
    fill: #8c8c8c;
}