@media (max-width:766px) {

    .trustly-part-1,
    .trsutly-part-svg {
        display: block;
    }

    .tt-part-1 h3 {
        font-size: 30px;
    }

    .trustly-part-2 {
        padding: 10px 10px;
    }

    .trustly-part-2 span {
        font-size: 23px;
    }

    .trustly-part-3 li {
        display: block;
    }

    .trustly-part-3-left {
        margin-bottom: 15px;
    }

    .trustly-part-3 span {
        width: 100%;
        border-radius: 10px;
    }
}