@media (max-width:766px) {
    .be-partner-1 {
        display: none !important;
    }

    .be-partner a {
        display: flex;
        justify-content: start;
    }

    .be-partner-2 {
        padding: 10px !important;
        display: block !important;
    }


    .reseler-ul li {
        display: block;
    }

    .reseler-ul li div:first-child {
        display: flex;
        justify-content: center;
    }

    .reseler-ul li div span {
        width: 100%;
        height: auto;
        border-radius: 10px;
        padding: 20px 0;
    }

    .reseler-ul h3 {
        margin-top: 15px;
    }

    .reseller-form form {
        width: 100%;
    }
}