html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: #00000000;
    height: 100%;

    ::selection {
        background: transparent;
        color: transparent;
    }
}

body {
    background-image: url('../../Images/bg-main.jpg');
}

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'),
        url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
    font-display: swap;
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar {
    height: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(28, 31, 26);
    border-radius: 10px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

* ul {
    list-style: none;
}

.justify-between {
    justify-content: space-between !important;
}

.gb-padding {
    padding: 0 15px;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    gap: 10px;
}

.text-center {
    text-align: center;
}

.text-danger {
    color: #c63200 !important;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        margin: 0 !important;
        padding: 0 !important;
    }
}