.wm-valid-check {
    width: 31px;
    height: 31px;
    fill: $main_color_1;
}

.wiki-guide {
    li {
        p {
            a {
                display: inline-block;
                font-size: 20px;
            }
        }
    }
}

.ssl-validation-txt {
    color: #78a22e !important;
}

.ssl-validation-txt-h4 {
    color: #78a22e !important;
    font-size: 25px;
    margin: 10px 0;
}

.example_images {
    width: 100%;
    overflow-x: scroll;
}

.wiki-ssl-link {
    color: #dc8510;
}

.wiki-ssl-link:hover {
    text-decoration: none;
}