.payment-symbol {
    width: 120px;
    height: 35px;
    fill: #ffffff33;
}

.payment-skrill {
    width: 85px;
    height: 30px;
    fill: #ffffff33;
}

.payment-bank {
    width: 85px;
    height: 80px;
    fill: #ffffff33;
}

.payment-money {
    width: 85px;
    height: 85px;
    fill: $main_color_1;
}