.wiki-path {
    padding: 15px;
    font-size: 20px;
    background: #242322;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.wiki-path a {
    color: #9e9e9e;
}

.wiki-path a:hover {
    color: $main_color_1;
}

.wiki-path svg {
    width: 9px;
    height: 16px;
    fill: #454545;
}

.next {
    padding: 10px 6px;
}

.current {
    color: $main_color_1;
}

.wiki-main {
    padding: 25px;
}

.wiki-main h3 {
    color: #cccccc;
    font-size: 36px;
    font-weight: 100;
}

.wiki-main p {
    font-size: 20px;
    color: #9e9e9e;
    line-height: 145%;
    margin: 15px 0;
}

.wiki-main .cert-txt-item {
    margin-top: 10px;
    color: #9e9e9e;
    font-size: 20px;
    line-height: 145%;
}

.wiki-menu {
    margin-top: 25px;
    display: flex;
}

.wiki-left,
.wiki-right {
    width: calc(100% / 2 - 20px);
    margin: 0 10px;
}

.wiki-menu-box {
    padding: 20px;
    background: #ffffff0a;
    border-radius: 12px;
    box-shadow: inset 0 0 5px #00000066;
    border: 1px dashed #454545;
    margin: 0 0 10px 0;
}

.wiki-menu-box ul li {
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.wiki-menu-box h5 {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 28px;
    font-weight: 100;
}

.wiki-menu-box h5 a {
    color: $main_color_1;
}

.wiki-menu-box h5 a:hover {
    text-decoration: none;
}

.wiki-arrow {
    width: 9px;
    height: 15px;
    fill: #454545;
}

.wiki-link {
    color: #9e9e9e;
    font-size: 20px;
    text-decoration: none;
}

.wiki-link:hover {
    color: $main_color_1;
    text-decoration: underline;
}

.wiki-about-svg {
    background-color: #2e3030;
    border-radius: 15px;
    padding: 0 25px;
}

.wiki-guide {
    border-top: 1px dashed #454545;
    margin-top: 50px;
}

.wiki-guide li {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    padding: 10px 0;
    align-items: self-start;
}

.wiki-guide li p {
    color: #9e9e9e;
    font-size: 20px;
    line-height: 145%;
}

.wiki-guide li a {
    color: $main_color_1;
    font-size: 26px;
}

.wiki-guide li a:hover {
    text-decoration: none;
}

.wiki-guide-num {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.wiki-guide-num span {
    padding: 15px 0 0 0;
    font-weight: bold;
    width: 80px;
    height: 80px;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 100px;
    font-size: 40px;
    color: #9e9e9e;
    text-align: center;
}

.wiki-categories {
    margin: 25px 0 0 0;
    background: rgba(0, 0, 0, 0.1);
    padding: 25px;
    border: 1px dashed #454545;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
}

.wiki-categories h3 {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 28px;
    font-weight: 100;
    color: #9e9e9e;
    margin: 0 0 15px 0;
}

.wiki-categories svg {
    width: 31px;
    height: 31px;
    fill: $main_color_1;
}

.wiki-categories a {
    display: inline-block;
    background: rgba(255, 255, 255, 0.05);
    padding: 8px 15px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-size: 18px;
    border-radius: 100px;
    color: #9e9e9e;
    text-decoration: none;
    margin: 5px 10px 0 0;
}

.wiki-categories a:hover {
    background: rgba(255, 255, 255, 0.12);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

@media (max-width:766px) {

    .wiki-menu,
    .wiki-guide li {
        display: block;
    }

    .wiki-left,
    .wiki-right {
        width: 100%;
    }
}