.trsutly-part-svg {
    flex-wrap: wrap;
    vertical-align: middle !important;
}

.sl-digicert {
    display: block !important;
    width: 200px !important;
    height: 50px !important;
}

.sl-sectigo {
    display: block !important;
    width: 150px !important;
    height: 30px !important;
    fill: #00b073;
    color: #00b073;
}

.sl-talk {
    display: block !important;
    width: 100px !important;
    height: 100px !important;
    fill: #9d7040;
}