@media (max-width:766px) {
    .pro-pricing {
        display: block;
    }

    .form-left,
    .form-right {
        width: 100%;
    }

    .table-list thead {
        display: none;
    }

    .table-list tr {
        display: block;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    .table-list td::before {
        content: attr(data-label);
        font-weight: bold;
        float: left;
        text-transform: uppercase;
    }

    .product-name,
    .product-price {
        display: block;
        text-align: center !important;
    }

    .product-price {
        font-size: 25px !important;
    }
}