html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
  background-color: #303231;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}

* ul {
  list-style: none;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.csr-svg {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  fill: #78a22e !important;
  color: #575757;
  width: 130px;
  height: 130px;
}

.nav-main {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3f3d40;
  border-radius: 50px;
  height: 55px;
  margin-top: 30px;
  width: 1150px;
}

.nav-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.img-icon {
  width: 40px;
  height: 40px;
}

.img-text-icon {
  width: 30px;
  height: 33px;
}

.nav-item-li {
  border-right: 1px solid white;
}

.nav-item-li-last:hover .nav-item-link {
  transition: 0.4s;
  color: #DC8510;
}

.nav-item-li:hover .nav-item-link {
  transition: 0.4s;
  color: #DC8510;
}

.nav-item a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #c4c5c5;
  font-size: 19px;
  padding: 15px 17px;
}

.main-sect {
  display: none !important;
}

.sect-one {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 680px;
  top: 38px;
  background: rgba(22, 22, 22, 0.9019607843);
  border-radius: 10px;
}

.certificate-menu:hover .main-sect {
  display: block !important;
}

.sect-one li {
  width: 50%;
  transition: 0.4s;
}

.sect-one li:nth-child(2),
.sect-one li:nth-child(4),
.sect-one li:nth-child(6) {
  border-bottom: 1px solid rgba(83, 82, 82, 0.552);
  border-left: 1px solid rgba(83, 82, 82, 0.552);
}

.sect-one li:nth-child(1),
.sect-one li:nth-child(3),
.sect-one li:nth-child(5) {
  border-bottom: 1px solid rgba(83, 82, 82, 0.552);
}

.sect-one li:nth-child(8) {
  border-left: 1px solid rgba(83, 82, 82, 0.552);
}

.sect-one li:hover {
  background-color: rgba(164, 164, 164, 0.195);
  transition: 0.4s ease-in-out;
}

.sect-one-1 {
  border-radius: 10px 0 0 0;
}

.sect-one-2 {
  border-radius: 0 10px 0 0;
}

.sect-one-3 {
  border-radius: 0 0 0 10px;
}

.sect-one-4 {
  border-radius: 0 0 10px 0;
}

.dv {
  padding: 15px;
  position: relative;
}

.img-text-icon {
  position: relative;
  top: -12px;
}

.nav-link-box {
  display: flex;
  gap: 10px;
  text-decoration: none;
  align-items: center;
}

.symbol-d {
  position: absolute;
  font-weight: bold;
  font-size: 16px;
  left: 9px;
  top: 6px;
  color: #25958b;
}

.symbol-s {
  position: absolute;
  font-weight: bold;
  font-size: 16px;
  left: 9px;
  top: 6px;
  color: rgba(210, 20, 60, 0.9019607843);
}

.symbol-b {
  position: absolute;
  font-weight: bold;
  font-size: 16px;
  left: 9px;
  top: 6px;
  color: #dc8510;
}

.symbol-w {
  position: absolute;
  font-weight: bold;
  font-size: 16px;
  left: 7px;
  top: 7px;
  color: rgba(157, 112, 64, 0.9019607843);
}

.symbol-e {
  position: absolute;
  font-size: 17px;
  font-weight: bold;
  left: 9px;
  top: 6px;
  color: rgba(120, 162, 46, 0.9019607843);
}

.symbol-a {
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  left: 6.5px;
  top: 5px;
  color: rgba(198, 50, 0, 0.9019607843);
}

.symbol-c {
  position: absolute;
  font-size: 17px;
  font-weight: bold;
  left: 9px;
  top: 6px;
  color: rgb(140, 140, 140);
}

.symbol-v {
  position: absolute;
  font-size: 17px;
  font-weight: bold;
  left: 9px;
  top: 6px;
  color: rgba(35, 160, 149, 0.9019607843);
}

.text-box span {
  font-size: 22px;
  color: #ffffff;
  font-weight: normal;
}

.text-box p {
  font-size: 18px;
  color: #5e5e5e;
  padding: 4px 0 0 0;
  line-height: 135%;
  display: block;
}

.nav-item li {
  position: relative;
}

.sect-two {
  position: absolute;
  width: 1190px;
  left: -150px;
  top: 39px;
  display: flex;
  justify-content: center !important;
  gap: 10px;
  background: rgba(22, 22, 22, 0.9019607843);
  border-radius: 12px;
}

.sect-two div:nth-child(1),
.sect-two div:nth-child(2),
.sect-two div:nth-child(3),
.sect-two div:nth-child(4) {
  border-right: 1px dashed #2b2b2b;
}

.sect-two-item {
  padding: 15px;
}

.sect-two-item-btn {
  width: 150px;
  padding: 5px 25px;
  font-size: 22px;
  border-radius: 50px;
  background: transparent;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn-digicert {
  color: #1B75BC;
  border: 2px solid #0274c4;
}

.btn-digicert:hover {
  background: #0274c4;
  color: #2b2b2b;
}

.btn-gogetssl {
  color: #dc8510;
  border: 2px solid #dc8510;
}

.btn-gogetssl:hover {
  background: #dc8510;
  color: #2b2b2b;
}

.btn-sectigo {
  color: #00b073;
  border: 2px solid #00b073;
}

.btn-sectigo:hover {
  background: #00b073;
  color: #2b2b2b;
}

.btn-geotrust {
  color: rgba(35, 160, 149, 0.9019607843);
  border: 2px solid rgba(35, 160, 149, 0.9019607843);
}

.btn-geotrust:hover {
  background: rgba(35, 160, 149, 0.9019607843);
  color: #2b2b2b;
}

.btn-rapidssl {
  margin-top: 10px;
  color: #9d7040;
  border: 2px solid #9d7040;
}

.btn-rapidssl:hover {
  background: #9d7040;
  color: #2b2b2b;
}

.btn-thawte {
  color: rgba(210, 20, 60, 0.9019607843);
  border: 2px solid rgba(210, 20, 60, 0.9019607843);
}

.btn-thawte:hover {
  background: rgba(210, 20, 60, 0.9019607843);
  color: #2b2b2b;
}

.btn-target {
  width: 180px;
  border: 2px solid #323233;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 40px;
  transition: 0.4s;
}

.btn-target span {
  font-size: 17px;
  color: #dc8510;
}

.btn-target:hover {
  transition: 0.4s;
  border: 2px solid #dc8510;
}

.btn-compare {
  width: 180px;
  border: 2px solid #323233;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
  transition: 0.4s;
}

.btn-compare span {
  font-size: 19px;
  color: rgba(120, 162, 46, 0.9019607843);
}

.btn-compare:hover {
  transition: 0.4s;
  border: 2px solid rgba(120, 162, 46, 0.9019607843);
}

.sect-two-item a {
  display: block;
  color: #bfbfbf;
  margin: 5px 0;
  padding: 0;
  font-size: 17px;
}

.sect-two-item a:hover {
  color: #dc8510;
  text-decoration: underline;
}

.sect-three {
  position: absolute;
  width: 680px;
  top: 39px;
  left: -450px;
  display: flex;
  flex-wrap: wrap;
  background: rgba(22, 22, 22, 0.9019607843);
  border-radius: 10px;
}

.sect-three li {
  width: 50%;
  transition: 0.4s;
}

.sect-three-link {
  display: flex;
  align-items: middle;
  gap: 15px;
}

.sect-three li:nth-child(2),
.sect-three li:nth-child(4) {
  border-bottom: 1px solid rgba(83, 82, 82, 0.552);
  border-left: 1px solid rgba(83, 82, 82, 0.552);
}

.sect-three li:nth-child(1),
.sect-three li:nth-child(3) {
  border-bottom: 1px solid rgba(83, 82, 82, 0.552);
}

.sect-three li:nth-child(6) {
  border-left: 1px solid rgba(83, 82, 82, 0.552);
}

.sect-three li:hover {
  background-color: rgba(164, 164, 164, 0.195);
  transition: 0.4s ease-in-out;
}

.sect-four {
  position: absolute;
  width: 680px;
  top: 39px;
  left: -550px;
  display: flex;
  flex-wrap: wrap;
  background: rgba(22, 22, 22, 0.9019607843);
  border-radius: 10px;
}

.sect-four li {
  width: 50%;
  transition: 0.4s;
}

.sect-four-link {
  display: flex;
  align-items: middle;
  gap: 15px;
}

.sect-four li:nth-child(2),
.sect-four li:nth-child(4) {
  border-bottom: 1px solid rgba(83, 82, 82, 0.552);
  border-left: 1px solid rgba(83, 82, 82, 0.552);
}

.sect-four li:nth-child(1),
.sect-four li:nth-child(3) {
  border-bottom: 1px solid rgba(83, 82, 82, 0.552);
}

.sect-four li:nth-child(6) {
  border-left: 1px solid rgba(83, 82, 82, 0.552);
}

.sect-four li:hover {
  background-color: rgba(164, 164, 164, 0.195);
  transition: 0.4s ease-in-out;
}

.navigation-btn {
  display: none;
  position: relative;
  text-align: start;
  width: 150px;
  padding: 8px 8px 4px 8px;
  border-radius: 15px;
  border: 2px solid #5e5e5e;
  background-color: #373737;
  cursor: pointer;
}

.activeNavBtn .navigation-svg {
  fill: rgba(198, 50, 0, 0.9019607843);
}
.activeNavBtn span {
  color: rgba(198, 50, 0, 0.9019607843) !important;
}

.navigation-svg {
  fill: #dc8510;
}

.navigation-btn span {
  position: absolute;
  font-size: 18px;
  color: #9e9e9e;
  margin-left: 10px;
  top: 7px;
}

@media (max-width: 766px) {
  .wrapper {
    max-width: 766px;
    padding: 0 10px;
  }
  .nav {
    max-width: 766px;
    background: #3f403e;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 10px 0;
    border-radius: 20px;
  }
  .navigation-btn {
    display: block;
  }
  .nav-item {
    display: none;
  }
  .nav-item-responsive {
    display: block;
    width: 100%;
    margin: 20px 0;
  }
  .nav-item-li {
    background-color: #323332;
    border-radius: 10px;
    margin: 3px 0;
    padding: 10px;
  }
  .nav-item-li-last {
    border: none;
    background-color: #323332;
    border-radius: 10px;
    margin: 3px 0;
    padding: 10px;
  }
  .nav-item-li {
    border: none;
  }
  .main-sect-res {
    display: block;
  }
  .sect-res {
    position: static;
    width: 100%;
    padding: 5px;
    margin: 10px 0 0 0;
    display: block;
    text-align: center;
  }
  .sect-res li {
    width: 100% !important;
    transition: 0.4s;
    margin: 2px 0;
    border: none !important;
  }
  .img-text-icon {
    position: relative;
    top: 5px;
  }
  .text-box {
    align-items: center;
  }
  .text-box p {
    display: none;
  }
  .nav-item a {
    padding: 0;
  }
  .title {
    font-size: 15px !important;
  }
  .sect-two-item-btn {
    width: 100%;
  }
  .img-icon {
    width: 25px;
    height: 25px;
  }
  .img-text-icon {
    width: 25px;
    height: 25px;
    position: relative;
  }
  .img-text-icon svg {
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
  }
  .symbol-d,
  .symbol-s,
  .symbol-b,
  .symbol-w,
  .symbol-e,
  .symbol-a,
  .symbol-c,
  .symbol-v {
    left: 7px;
    font-size: 12px;
  }
  .symbol-d {
    left: 9px;
    top: 2px;
  }
  .symbol-e {
    top: 2px;
    left: 8px;
  }
  .symbol-a {
    top: 1px;
    left: 6px;
  }
  .symbol-s {
    left: 7.5px;
    top: 2px;
  }
  .symbol-v {
    left: 8.5px;
    top: 2px;
  }
  .symbol-b {
    top: 2px;
    left: 8px;
  }
  .symbol-w {
    top: 2px;
  }
  .symbol-c {
    top: 2px;
  }
  .nav-link-box {
    margin: 5px 0;
    border-radius: 5px;
    padding: 10px 5px !important;
    background: #2c2a2b;
  }
}/*# sourceMappingURL=styles.css.map */